バックアップ.json
{"updatedAt":"2026-03-11T08:49:56.497Z","createdAt":"2026-03-08T12:26:45.833Z","id":"g0gtNSwIy5Hlr4oQ","name":"バックアップ","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-672,96],"id":"61b0bbf9-5e66-4cac-84f2-78d276c7f070","name":"スケジュール"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-384,96],"id":"f0065085-808e-4eea-8a75-a15966d8bed0","name":"全てのワークフローを取得","credentials":{"n8nApi":{"id":"2Y2b68dlrRAAXDBN","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1088,128],"id":"1d1d7913-8d0c-425b-8310-277e5ae0d046"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-128,96],"id":"e847a1c8-9e98-4e84-9ea9-9b8fdcac9c09","name":"ループ"},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[96,112],"id":"d5dd1c39-bd11-4d3e-9b29-c9e15783404f","name":"jsonファイル生成"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[288,112],"id":"14e494ec-a9a5-4649-a208-9f80bb0375d0","name":"base64に変換"},{"parameters":{"url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/{{ $('ループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[480,112],"id":"35bf1225-c319-4727-9bb6-672ca3f46d73","name":"SHA取得","credentials":{"httpBearerAuth":{"id":"QhDY7Y890ebMMXt4","name":"GitHub"}}},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/{{ $('ループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"update"},{"name":"=content","value":"={{ $('base64に変換').item.json.data }}"},{"name":"sha","value":"={{ $json.sha }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[928,128],"id":"768b4bde-6c1a-4b8c-949f-918af214335b","name":"GitHubアップロード","credentials":{"httpBearerAuth":{"id":"QhDY7Y890ebMMXt4","name":"GitHub"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edc26b7e-af4a-4751-8c9d-5290b4792314","leftValue":"={{ $json.content.replace(/\\n/g, '') }}","rightValue":"={{ $('base64に変換').item.json.data }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[688,112],"id":"fdb336de-a122-4512-ad58-b43f60e1f210","name":"変更あり"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-672,-64],"id":"75814024-1fae-48fc-be75-3c4f6ba72136","name":"手動実行"}],"connections":{"スケジュール":{"main":[[{"node":"全てのワークフローを取得","type":"main","index":0}]]},"全てのワークフローを取得":{"main":[[{"node":"ループ","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"ループ","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"jsonファイル生成","type":"main","index":0}]]},"jsonファイル生成":{"main":[[{"node":"base64に変換","type":"main","index":0}]]},"base64に変換":{"main":[[{"node":"SHA取得","type":"main","index":0}]]},"SHA取得":{"main":[[{"node":"変更あり","type":"main","index":0}]]},"GitHubアップロード":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"変更あり":{"main":[[],[{"node":"GitHubアップロード","type":"main","index":0}]]},"手動実行":{"main":[[{"node":"全てのワークフローを取得","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:スケジュール":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c0cbd7bc-d63b-4934-b12b-41a15bd0b7d5","activeVersionId":"c0cbd7bc-d63b-4934-b12b-41a15bd0b7d5","triggerCount":1,"shared":[{"updatedAt":"2026-03-08T12:26:45.835Z","createdAt":"2026-03-08T12:26:45.835Z","role":"workflow:owner","workflowId":"g0gtNSwIy5Hlr4oQ","projectId":"lW6UOUokVdqoRqRz"}],"activeVersion":{"updatedAt":"2026-03-11T08:50:22.000Z","createdAt":"2026-03-11T08:49:56.499Z","versionId":"c0cbd7bc-d63b-4934-b12b-41a15bd0b7d5","workflowId":"g0gtNSwIy5Hlr4oQ","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-672,96],"id":"61b0bbf9-5e66-4cac-84f2-78d276c7f070","name":"スケジュール"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-384,96],"id":"f0065085-808e-4eea-8a75-a15966d8bed0","name":"全てのワークフローを取得","credentials":{"n8nApi":{"id":"2Y2b68dlrRAAXDBN","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1088,128],"id":"1d1d7913-8d0c-425b-8310-277e5ae0d046"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-128,96],"id":"e847a1c8-9e98-4e84-9ea9-9b8fdcac9c09","name":"ループ"},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[96,112],"id":"d5dd1c39-bd11-4d3e-9b29-c9e15783404f","name":"jsonファイル生成"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[288,112],"id":"14e494ec-a9a5-4649-a208-9f80bb0375d0","name":"base64に変換"},{"parameters":{"url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/{{ $('ループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[480,112],"id":"35bf1225-c319-4727-9bb6-672ca3f46d73","name":"SHA取得","credentials":{"httpBearerAuth":{"id":"QhDY7Y890ebMMXt4","name":"GitHub"}}},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/{{ $('ループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"update"},{"name":"=content","value":"={{ $('base64に変換').item.json.data }}"},{"name":"sha","value":"={{ $json.sha }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[928,128],"id":"768b4bde-6c1a-4b8c-949f-918af214335b","name":"GitHubアップロード","credentials":{"httpBearerAuth":{"id":"QhDY7Y890ebMMXt4","name":"GitHub"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edc26b7e-af4a-4751-8c9d-5290b4792314","leftValue":"={{ $json.content.replace(/\\n/g, '') }}","rightValue":"={{ $('base64に変換').item.json.data }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[688,112],"id":"fdb336de-a122-4512-ad58-b43f60e1f210","name":"変更あり"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-672,-64],"id":"75814024-1fae-48fc-be75-3c4f6ba72136","name":"手動実行"}],"connections":{"スケジュール":{"main":[[{"node":"全てのワークフローを取得","type":"main","index":0}]]},"全てのワークフローを取得":{"main":[[{"node":"ループ","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"ループ","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"jsonファイル生成","type":"main","index":0}]]},"jsonファイル生成":{"main":[[{"node":"base64に変換","type":"main","index":0}]]},"base64に変換":{"main":[[{"node":"SHA取得","type":"main","index":0}]]},"SHA取得":{"main":[[{"node":"変更あり","type":"main","index":0}]]},"GitHubアップロード":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"変更あり":{"main":[[],[{"node":"GitHubアップロード","type":"main","index":0}]]},"手動実行":{"main":[[{"node":"全てのワークフローを取得","type":"main","index":0}]]}},"authors":"Kenta Yamada","name":"v5","description":"","autosaved":true},"tags":[]}