ワークフロー自動設定.json
{"updatedAt":"2026-03-14T06:55:42.455Z","createdAt":"2026-03-14T04:52:05.317Z","id":"HnON0c953dyJRIz5","name":"ワークフロー自動設定","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,-16],"id":"3a509789-d387-485c-83f8-a2fb753d0dae","name":"手動実行"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,-16],"id":"fd83dcd5-7f3c-4891-92e0-a679a8933d68","name":"ループ"},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"include":"except","excludeFields":"data.settings.binaryMode","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,-80],"id":"95e8ae36-af8d-4663-b07a-6a53747c3230","name":"binaryModeを除外"},{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json.data) }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1264,-16],"id":"07d839f8-8814-456b-b2c4-098d7c03172e","name":"ワークフローを作成","credentials":{"n8nApi":{"id":"BdO4K5EnhKEOcfrt","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/kentayamada-dev","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"workflows"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[144,-16],"id":"52ec35f3-9aac-494e-8b72-6f522a3e40b6","name":"ワークフローファイルを全て取得","webhookId":"c4ac5eee-b635-4961-9c23-f8b47aa99de4","credentials":{"githubApi":{"id":"23r6KsZjVlfm7DJe","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/kentayamada-dev","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"={{ $json.path }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[592,-80],"id":"a0fe0169-41ea-48a7-96c0-6d0639d9d040","name":"ワークフローファイルを取得","webhookId":"9e585869-f99c-4b72-b82f-7ae87b8218ba","credentials":{"githubApi":{"id":"23r6KsZjVlfm7DJe","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[816,-80],"id":"c10f412c-a6f7-4c4f-bc2a-130f57490527","name":"JSONデータに変換"}],"connections":{"手動実行":{"main":[[{"node":"ワークフローファイルを全て取得","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"ワークフローファイルを取得","type":"main","index":0}]]},"binaryModeを除外":{"main":[[{"node":"ワークフローを作成","type":"main","index":0}]]},"ワークフローを作成":{"main":[[{"node":"ループ","type":"main","index":0}]]},"ワークフローファイルを全て取得":{"main":[[{"node":"ループ","type":"main","index":0}]]},"ワークフローファイルを取得":{"main":[[{"node":"JSONデータに変換","type":"main","index":0}]]},"JSONデータに変換":{"main":[[{"node":"binaryModeを除外","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f1d42b1d-4a9c-4d46-987a-241eb7f3b3a2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-14T04:52:05.322Z","createdAt":"2026-03-14T04:52:05.322Z","role":"workflow:owner","workflowId":"HnON0c953dyJRIz5","projectId":"x0jW1NnJLCRn0Pjp"}],"activeVersion":null,"tags":[]}