支出.json
{"updatedAt":"2026-03-08T14:32:00.682Z","createdAt":"2026-03-06T04:31:23.169Z","id":"xXItAUa6i57AgcH7","name":"支出","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"line-webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-592,-144],"id":"6024c8f5-f7b5-4f9f-b05a-254994e440ea","name":"LINEメッセージを受け取る","webhookId":"884305de-373e-4e6b-926f-97d0dff34901","notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.events[0].message.type }}","rightValue":"image","operator":{"type":"string","operation":"equals"},"id":"705a58d8-f005-4bb8-a2ab-f17c35db9242"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e5c2975b-5d4e-48d3-995c-0dcfafee8007","leftValue":"={{ $json.body.events[0].message.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-352,-160],"id":"8f39b7fe-57f2-4f4a-b5de-f6d1584f0b1d","name":"入力データによって条件分岐"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac","mode":"list","cachedResultName":"支出","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[96,32],"id":"d4fd03a9-04e8-4f72-8474-b4cd02d32d6b","name":"データ","credentials":{"googleApi":{"id":"MYxdn7EqblpvO4QW","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"qwen3.5:397b","mode":"list","cachedResultName":"qwen3.5:397b"},"messages":{"values":[{"content":"={{ $json.body.events[0].message.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[-48,-144],"id":"b90059bd-a4c8-440c-bf17-6feee36497dd","name":"質問","credentials":{"ollamaApi":{"id":"moxqv4isbLEjWtHi","name":"Ollama account"}}},{"parameters":{"url":"=https://api-data.line.me/v2/bot/message/{{ $json.body.events[0].message.id }}/content","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-48,-320],"id":"4792ade0-c649-4775-9b25-c558b6558e1d","name":"画像取得","credentials":{"httpBearerAuth":{"id":"zfrBF60JrZB9cHz3","name":"LINE"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"qwen3.5:397b","mode":"list","cachedResultName":"qwen3.5:397b"},"text":"Only if the image is some kind of receipt, please OCR the receipt and tell me the payment date and time, total amount, and store name in the exactly following format. The format of date should should be 9/29/2016 12:37:00, the format of price should be only numbers. Don't need extra characters like ```json\\n\n\n[\n  {\n    \"日時\": \"{payment date and time}\",\n    \"店名\":  \"{store name}\",\n    \"金額\": \"{total amount}\"\n  }\n]","options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[176,-320],"id":"a113b631-10bc-4c42-82a3-38bab2bb7faf","name":"画像分析","credentials":{"ollamaApi":{"id":"moxqv4isbLEjWtHi","name":"Ollama account"}}},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac","mode":"list","cachedResultName":"支出","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["日時"],"schema":[{"id":"日時","displayName":"日時","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"店名","displayName":"店名","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"金額","displayName":"金額","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,-416],"id":"bc84896c-c245-4273-b01c-949b90707730","name":"データ登録","credentials":{"googleApi":{"id":"MYxdn7EqblpvO4QW","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"777d87b9-513a-4645-a896-39fb7461b0d5","leftValue":"={{\n  (() => {\n    try {\n      const content = $(\"画像分析\").item.json.content;\n      const arr = JSON.parse(content);\n\n      if (!Array.isArray(arr) || arr.length !== 1) return false;\n\n      const o = arr[0];\n      const dt = o?.[\"日時\"];\n      const shop = o?.[\"店名\"];\n      const amount = o?.[\"金額\"];\n\n      return (\n        typeof dt === \"string\" &&\n        dt.trim() !== \"\" &&\n        typeof shop === \"string\" &&\n        shop.trim() !== \"\" &&\n        typeof amount === \"string\" &&\n        /^\\d+$/.test(amount.trim())\n      );\n    } catch (e) {\n      return false;\n    }\n  })()\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[384,-320],"id":"7ff6d6c9-b47f-4aa9-82cb-286b0fbeacba","name":"画像検証"},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"以下の内容で追加しました。\\n\\n日時: {{ $json['日時'] }}\\n店名: {{ $json['店名'] }}\\n金額: {{ $json['金額'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1040,-416],"id":"e9f6bc99-9952-4e65-8732-e3566292b450","name":"登録済みメッセージ","credentials":{"httpBearerAuth":{"id":"zfrBF60JrZB9cHz3","name":"LINE"}}},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"{{ $json.content.replace(/\\r?\\n/g, '\\\\n') }}\"\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[288,-144],"id":"35bbe16f-2299-4cd2-9b16-a4808f13ca34","name":"回答メッセージ","credentials":{"httpBearerAuth":{"id":"zfrBF60JrZB9cHz3","name":"LINE"}}},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"対応していません。\"\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-80,160],"id":"f1e1a693-c9c1-43fc-83ca-740f286468f0","name":"未対応メッセージ","credentials":{"httpBearerAuth":{"id":"zfrBF60JrZB9cHz3","name":"LINE"}}},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"データが不正です。\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[576,-240],"id":"02449a07-6412-4730-b2ed-604a0bd4deee","name":"レシート画像ではないメッセージ","credentials":{"httpBearerAuth":{"id":"zfrBF60JrZB9cHz3","name":"LINE"}}},{"parameters":{"jsCode":"const out = [];\n\nfor (const item of items) {\n  const parsed = JSON.parse(item.json.content);\n\n  if (Array.isArray(parsed)) {\n    out.push(...parsed.map((x) => ({ json: x })));\n  } else {\n    out.push({ json: parsed });\n  }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,-416],"id":"0c0e3484-e594-43ec-8f62-b7d1bd0ca498","name":"データ加工","alwaysOutputData":false}],"connections":{"LINEメッセージを受け取る":{"main":[[{"node":"入力データによって条件分岐","type":"main","index":0}]]},"入力データによって条件分岐":{"main":[[{"node":"画像取得","type":"main","index":0}],[{"node":"質問","type":"main","index":0}],[{"node":"未対応メッセージ","type":"main","index":0}],[]]},"データ":{"ai_tool":[[{"node":"質問","type":"ai_tool","index":0}]]},"質問":{"main":[[{"node":"回答メッセージ","type":"main","index":0}]]},"画像取得":{"main":[[{"node":"画像分析","type":"main","index":0}]]},"画像分析":{"main":[[{"node":"画像検証","type":"main","index":0}]]},"データ登録":{"main":[[{"node":"登録済みメッセージ","type":"main","index":0}]]},"画像検証":{"main":[[{"node":"データ加工","type":"main","index":0}],[{"node":"レシート画像ではないメッセージ","type":"main","index":0}]]},"登録済みメッセージ":{"main":[[]]},"データ加工":{"main":[[{"node":"データ登録","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77bedab2-e4aa-4791-84a3-c27bace3b8cf","activeVersionId":"77bedab2-e4aa-4791-84a3-c27bace3b8cf","triggerCount":1,"shared":[{"updatedAt":"2026-03-06T04:31:23.172Z","createdAt":"2026-03-06T04:31:23.172Z","role":"workflow:owner","workflowId":"xXItAUa6i57AgcH7","projectId":"lW6UOUokVdqoRqRz"}],"activeVersion":{"updatedAt":"2026-03-11T08:36:26.000Z","createdAt":"2026-03-08T14:32:00.683Z","versionId":"77bedab2-e4aa-4791-84a3-c27bace3b8cf","workflowId":"xXItAUa6i57AgcH7","nodes":[{"parameters":{"httpMethod":"POST","path":"line-webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-592,-144],"id":"6024c8f5-f7b5-4f9f-b05a-254994e440ea","name":"LINEメッセージを受け取る","webhookId":"884305de-373e-4e6b-926f-97d0dff34901","notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.events[0].message.type }}","rightValue":"image","operator":{"type":"string","operation":"equals"},"id":"705a58d8-f005-4bb8-a2ab-f17c35db9242"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e5c2975b-5d4e-48d3-995c-0dcfafee8007","leftValue":"={{ $json.body.events[0].message.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-352,-160],"id":"8f39b7fe-57f2-4f4a-b5de-f6d1584f0b1d","name":"入力データによって条件分岐"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac","mode":"list","cachedResultName":"支出","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[96,32],"id":"d4fd03a9-04e8-4f72-8474-b4cd02d32d6b","name":"データ","credentials":{"googleApi":{"id":"MYxdn7EqblpvO4QW","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"qwen3.5:397b","mode":"list","cachedResultName":"qwen3.5:397b"},"messages":{"values":[{"content":"={{ $json.body.events[0].message.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[-48,-144],"id":"b90059bd-a4c8-440c-bf17-6feee36497dd","name":"質問","credentials":{"ollamaApi":{"id":"moxqv4isbLEjWtHi","name":"Ollama account"}}},{"parameters":{"url":"=https://api-data.line.me/v2/bot/message/{{ $json.body.events[0].message.id }}/content","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-48,-320],"id":"4792ade0-c649-4775-9b25-c558b6558e1d","name":"画像取得","credentials":{"httpBearerAuth":{"id":"zfrBF60JrZB9cHz3","name":"LINE"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"qwen3.5:397b","mode":"list","cachedResultName":"qwen3.5:397b"},"text":"Only if the image is some kind of receipt, please OCR the receipt and tell me the payment date and time, total amount, and store name in the exactly following format. The format of date should should be 9/29/2016 12:37:00, the format of price should be only numbers. Don't need extra characters like ```json\\n\n\n[\n  {\n    \"日時\": \"{payment date and time}\",\n    \"店名\":  \"{store name}\",\n    \"金額\": \"{total amount}\"\n  }\n]","options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[176,-320],"id":"a113b631-10bc-4c42-82a3-38bab2bb7faf","name":"画像分析","credentials":{"ollamaApi":{"id":"moxqv4isbLEjWtHi","name":"Ollama account"}}},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac","mode":"list","cachedResultName":"支出","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["日時"],"schema":[{"id":"日時","displayName":"日時","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"店名","displayName":"店名","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"金額","displayName":"金額","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,-416],"id":"bc84896c-c245-4273-b01c-949b90707730","name":"データ登録","credentials":{"googleApi":{"id":"MYxdn7EqblpvO4QW","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"777d87b9-513a-4645-a896-39fb7461b0d5","leftValue":"={{\n  (() => {\n    try {\n      const content = $(\"画像分析\").item.json.content;\n      const arr = JSON.parse(content);\n\n      if (!Array.isArray(arr) || arr.length !== 1) return false;\n\n      const o = arr[0];\n      const dt = o?.[\"日時\"];\n      const shop = o?.[\"店名\"];\n      const amount = o?.[\"金額\"];\n\n      return (\n        typeof dt === \"string\" &&\n        dt.trim() !== \"\" &&\n        typeof shop === \"string\" &&\n        shop.trim() !== \"\" &&\n        typeof amount === \"string\" &&\n        /^\\d+$/.test(amount.trim())\n      );\n    } catch (e) {\n      return false;\n    }\n  })()\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[384,-320],"id":"7ff6d6c9-b47f-4aa9-82cb-286b0fbeacba","name":"画像検証"},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"以下の内容で追加しました。\\n\\n日時: {{ $json['日時'] }}\\n店名: {{ $json['店名'] }}\\n金額: {{ $json['金額'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1040,-416],"id":"e9f6bc99-9952-4e65-8732-e3566292b450","name":"登録済みメッセージ","credentials":{"httpBearerAuth":{"id":"zfrBF60JrZB9cHz3","name":"LINE"}}},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"{{ $json.content.replace(/\\r?\\n/g, '\\\\n') }}\"\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[288,-144],"id":"35bbe16f-2299-4cd2-9b16-a4808f13ca34","name":"回答メッセージ","credentials":{"httpBearerAuth":{"id":"zfrBF60JrZB9cHz3","name":"LINE"}}},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"対応していません。\"\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-80,160],"id":"f1e1a693-c9c1-43fc-83ca-740f286468f0","name":"未対応メッセージ","credentials":{"httpBearerAuth":{"id":"zfrBF60JrZB9cHz3","name":"LINE"}}},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"データが不正です。\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[576,-240],"id":"02449a07-6412-4730-b2ed-604a0bd4deee","name":"レシート画像ではないメッセージ","credentials":{"httpBearerAuth":{"id":"zfrBF60JrZB9cHz3","name":"LINE"}}},{"parameters":{"jsCode":"const out = [];\n\nfor (const item of items) {\n  const parsed = JSON.parse(item.json.content);\n\n  if (Array.isArray(parsed)) {\n    out.push(...parsed.map((x) => ({ json: x })));\n  } else {\n    out.push({ json: parsed });\n  }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,-416],"id":"0c0e3484-e594-43ec-8f62-b7d1bd0ca498","name":"データ加工","alwaysOutputData":false}],"connections":{"LINEメッセージを受け取る":{"main":[[{"node":"入力データによって条件分岐","type":"main","index":0}]]},"入力データによって条件分岐":{"main":[[{"node":"画像取得","type":"main","index":0}],[{"node":"質問","type":"main","index":0}],[{"node":"未対応メッセージ","type":"main","index":0}],[]]},"データ":{"ai_tool":[[{"node":"質問","type":"ai_tool","index":0}]]},"質問":{"main":[[{"node":"回答メッセージ","type":"main","index":0}]]},"画像取得":{"main":[[{"node":"画像分析","type":"main","index":0}]]},"画像分析":{"main":[[{"node":"画像検証","type":"main","index":0}]]},"データ登録":{"main":[[{"node":"登録済みメッセージ","type":"main","index":0}]]},"画像検証":{"main":[[{"node":"データ加工","type":"main","index":0}],[{"node":"レシート画像ではないメッセージ","type":"main","index":0}]]},"登録済みメッセージ":{"main":[[]]},"データ加工":{"main":[[{"node":"データ登録","type":"main","index":0}]]}},"authors":"Kenta Yamada","name":"v2","description":"","autosaved":true},"tags":[]}