workflows/GitHubバックアップ.json
{"updatedAt":"2026-03-26T03:00:01.718Z","createdAt":"2026-03-25T09:13:40.005Z","id":"SRuuhJildosojVz3","name":"GitHubバックアップ","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-352,-64],"id":"9820a7db-33b9-4e9b-aa05-8e1742540aad","name":"手動実行"},{"parameters":{"url":"https://api.github.com/user/repos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-128,-64],"id":"b4c6e5a5-f394-4ce9-871c-aa3fc1493a1f","name":"全てのレポジトリ情報取得","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[96,-64],"id":"4ee129c8-4ddd-4ac4-b31a-ac3726f5c94e","name":"ループ"},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.owner.login }}/{{ $json.name }}/zipball","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[320,-64],"id":"2cbb500a-4bf5-4eab-9603-5f3fb4102b08","name":"レポジトリダウンロード","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{"inputDataFieldName":"={{$node[\"レポジトリダウンロード\"].binary.data}}","name":"={{ $('レポジトリダウンロード').item.json.name }}.zip","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1c0C0XoxAzSrzUvykPHC5BBgh3FgpaQ8i","mode":"list","cachedResultName":"GitHub Backup","cachedResultUrl":"https://drive.google.com/drive/folders/1c0C0XoxAzSrzUvykPHC5BBgh3FgpaQ8i"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1376,-384],"id":"dc52e756-4ff4-4549-b786-9b5d8bb6c2d1","name":"レポジトリアップロード","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}.zip","limit":1,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,-64],"id":"2787600f-0358-4b8c-ad15-5d2f2ef0091f","name":"Search files and folders","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"95b5df8b-767c-4d9f-8c2c-ef5cd251ff2e","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1200,-64],"id":"80f5a2b6-1eb6-4ad1-80ed-78658eef3834","name":"If"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,48],"id":"b4937d65-e2cc-44db-bcc6-7ff593d786e3","name":"Update file","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"jsCode":"for (const item of items) {\n  const bin = item.binary?.data;\n  if (bin?.fileName) {\n    bin.fileName = bin.fileName.replace(/^[^/]+\\//, \"\");\n  }\n}\nreturn items;$input.first().json.name"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-64],"id":"ff5a3958-906e-4cc5-b22a-495954ffb141","name":"Code in JavaScript"}],"connections":{"手動実行":{"main":[[{"node":"全てのレポジトリ情報取得","type":"main","index":0}]]},"全てのレポジトリ情報取得":{"main":[[{"node":"ループ","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"レポジトリダウンロード","type":"main","index":0}]]},"レポジトリダウンロード":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"レポジトリアップロード":{"main":[[]]},"Search files and folders":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"レポジトリアップロード","type":"main","index":0}],[{"node":"Update file","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69b2888c-8df1-4806-b9a3-0d69c9a5852d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-25T09:13:40.008Z","createdAt":"2026-03-25T09:13:40.008Z","role":"workflow:owner","workflowId":"SRuuhJildosojVz3","projectId":"qGoXUbBEvTRGfpDj"}],"activeVersion":null,"tags":[]}