workflows/GitHubバックアップ.json
{"updatedAt":"2026-03-26T04:02:42.870Z","createdAt":"2026-03-25T09:13:40.005Z","id":"SRuuhJildosojVz3","name":"GitHubバックアップ","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-416,-152],"id":"9820a7db-33b9-4e9b-aa05-8e1742540aad","name":"手動実行"},{"parameters":{"url":"https://api.github.com/user/repos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-192,-8],"id":"b4c6e5a5-f394-4ce9-871c-aa3fc1493a1f","name":"全てのレポジトリ情報取得","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,-8],"id":"4ee129c8-4ddd-4ac4-b31a-ac3726f5c94e","name":"ループ"},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.owner.login }}/{{ $json.name }}/zipball","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[256,-224],"id":"2cbb500a-4bf5-4eab-9603-5f3fb4102b08","name":"レポジトリダウンロード","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[480,-224],"id":"e769c878-9586-41ff-a286-222ab6d82ead","name":"展開"},{"parameters":{"operation":"compress","binaryPropertyName":"={{ Object.keys($binary).join(',') }}","fileName":"={{ $json.name }}.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[704,-224],"id":"88c2758d-6b70-4c31-8a8c-08c102d03080","name":"圧縮"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}.zip","limit":1,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,-224],"id":"2787600f-0358-4b8c-ad15-5d2f2ef0091f","name":"レポジトリが存在しているかチェック","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"95b5df8b-767c-4d9f-8c2c-ef5cd251ff2e","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1152,-224],"id":"80f5a2b6-1eb6-4ad1-80ed-78658eef3834","name":"レポジトリが存在している"},{"parameters":{"inputDataFieldName":"={{$node[\"圧縮\"].binary.data}}","name":"={{ $('圧縮').item.json.name }}.zip","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_","mode":"list","cachedResultName":"GitHub Backup","cachedResultUrl":"https://drive.google.com/drive/folders/1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1312,-32],"id":"2c18b7f8-0b85-4b16-b015-79740748b3be","name":"レポジトリアップロード","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1600,16],"id":"b4937d65-e2cc-44db-bcc6-7ff593d786e3","name":"レポジトリアップデート","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-416,40],"id":"25eec49f-07be-42e8-9d7a-bdc101f8ff5b","name":"Schedule Trigger"}],"connections":{"手動実行":{"main":[[{"node":"全てのレポジトリ情報取得","type":"main","index":0}]]},"全てのレポジトリ情報取得":{"main":[[{"node":"ループ","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"レポジトリダウンロード","type":"main","index":0}]]},"レポジトリダウンロード":{"main":[[{"node":"展開","type":"main","index":0}]]},"展開":{"main":[[{"node":"圧縮","type":"main","index":0}]]},"圧縮":{"main":[[{"node":"レポジトリが存在しているかチェック","type":"main","index":0}]]},"レポジトリが存在しているかチェック":{"main":[[{"node":"レポジトリが存在している","type":"main","index":0}]]},"レポジトリが存在している":{"main":[[{"node":"レポジトリアップデート","type":"main","index":0}],[{"node":"レポジトリアップロード","type":"main","index":0}]]},"レポジトリアップロード":{"main":[[{"node":"ループ","type":"main","index":0}]]},"レポジトリアップデート":{"main":[[{"node":"ループ","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"全てのレポジトリ情報取得","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c2bf9076-f6e7-46ea-af65-a64dc44defd3","activeVersionId":"c2bf9076-f6e7-46ea-af65-a64dc44defd3","triggerCount":1,"shared":[{"updatedAt":"2026-03-25T09:13:40.008Z","createdAt":"2026-03-25T09:13:40.008Z","role":"workflow:owner","workflowId":"SRuuhJildosojVz3","projectId":"qGoXUbBEvTRGfpDj"}],"activeVersion":{"updatedAt":"2026-03-26T04:03:05.000Z","createdAt":"2026-03-26T04:02:42.871Z","versionId":"c2bf9076-f6e7-46ea-af65-a64dc44defd3","workflowId":"SRuuhJildosojVz3","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-416,-152],"id":"9820a7db-33b9-4e9b-aa05-8e1742540aad","name":"手動実行"},{"parameters":{"url":"https://api.github.com/user/repos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-192,-8],"id":"b4c6e5a5-f394-4ce9-871c-aa3fc1493a1f","name":"全てのレポジトリ情報取得","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,-8],"id":"4ee129c8-4ddd-4ac4-b31a-ac3726f5c94e","name":"ループ"},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.owner.login }}/{{ $json.name }}/zipball","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[256,-224],"id":"2cbb500a-4bf5-4eab-9603-5f3fb4102b08","name":"レポジトリダウンロード","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[480,-224],"id":"e769c878-9586-41ff-a286-222ab6d82ead","name":"展開"},{"parameters":{"operation":"compress","binaryPropertyName":"={{ Object.keys($binary).join(',') }}","fileName":"={{ $json.name }}.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[704,-224],"id":"88c2758d-6b70-4c31-8a8c-08c102d03080","name":"圧縮"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}.zip","limit":1,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[928,-224],"id":"2787600f-0358-4b8c-ad15-5d2f2ef0091f","name":"レポジトリが存在しているかチェック","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"95b5df8b-767c-4d9f-8c2c-ef5cd251ff2e","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1152,-224],"id":"80f5a2b6-1eb6-4ad1-80ed-78658eef3834","name":"レポジトリが存在している"},{"parameters":{"inputDataFieldName":"={{$node[\"圧縮\"].binary.data}}","name":"={{ $('圧縮').item.json.name }}.zip","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_","mode":"list","cachedResultName":"GitHub Backup","cachedResultUrl":"https://drive.google.com/drive/folders/1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1312,-32],"id":"2c18b7f8-0b85-4b16-b015-79740748b3be","name":"レポジトリアップロード","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1600,16],"id":"b4937d65-e2cc-44db-bcc6-7ff593d786e3","name":"レポジトリアップデート","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-416,40],"id":"25eec49f-07be-42e8-9d7a-bdc101f8ff5b","name":"Schedule Trigger"}],"connections":{"手動実行":{"main":[[{"node":"全てのレポジトリ情報取得","type":"main","index":0}]]},"全てのレポジトリ情報取得":{"main":[[{"node":"ループ","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"レポジトリダウンロード","type":"main","index":0}]]},"レポジトリダウンロード":{"main":[[{"node":"展開","type":"main","index":0}]]},"展開":{"main":[[{"node":"圧縮","type":"main","index":0}]]},"圧縮":{"main":[[{"node":"レポジトリが存在しているかチェック","type":"main","index":0}]]},"レポジトリが存在しているかチェック":{"main":[[{"node":"レポジトリが存在している","type":"main","index":0}]]},"レポジトリが存在している":{"main":[[{"node":"レポジトリアップデート","type":"main","index":0}],[{"node":"レポジトリアップロード","type":"main","index":0}]]},"レポジトリアップロード":{"main":[[{"node":"ループ","type":"main","index":0}]]},"レポジトリアップデート":{"main":[[{"node":"ループ","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"全てのレポジトリ情報取得","type":"main","index":0}]]}},"authors":"Kenta Yamada","name":"Version c2bf9076","description":"","autosaved":true},"tags":[]}