workflows/GitHubバックアップ.json
{"updatedAt":"2026-03-26T07:31:37.349Z","createdAt":"2026-03-25T09:13:40.005Z","id":"SRuuhJildosojVz3","name":"GitHubバックアップ","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-784,-288],"id":"9820a7db-33b9-4e9b-aa05-8e1742540aad","name":"手動実行"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-112,-64],"id":"4ee129c8-4ddd-4ac4-b31a-ac3726f5c94e","name":"ループ"},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.owner.login }}/{{ $json.name }}/zipball","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[160,-48],"id":"2cbb500a-4bf5-4eab-9603-5f3fb4102b08","name":"レポジトリダウンロード","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[416,-48],"id":"e769c878-9586-41ff-a286-222ab6d82ead","name":"展開"},{"parameters":{"operation":"compress","binaryPropertyName":"={{ Object.keys($binary).join(',') }}","fileName":"={{ $json.name }}.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[688,-48],"id":"88c2758d-6b70-4c31-8a8c-08c102d03080","name":"圧縮"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}.zip","limit":1,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[912,-48],"id":"2787600f-0358-4b8c-ad15-5d2f2ef0091f","name":"レポジトリが存在しているかチェック","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"95b5df8b-767c-4d9f-8c2c-ef5cd251ff2e","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1136,-48],"id":"80f5a2b6-1eb6-4ad1-80ed-78658eef3834","name":"レポジトリが存在している"},{"parameters":{"inputDataFieldName":"={{$node[\"圧縮\"].binary.data}}","name":"={{ $('圧縮').item.json.name }}.zip","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_","mode":"list","cachedResultName":"GitHub Backup","cachedResultUrl":"https://drive.google.com/drive/folders/1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1312,96],"id":"2c18b7f8-0b85-4b16-b015-79740748b3be","name":"レポジトリアップロード","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1584,144],"id":"b4937d65-e2cc-44db-bcc6-7ff593d786e3","name":"レポジトリアップデート","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-784,-48],"id":"25eec49f-07be-42e8-9d7a-bdc101f8ff5b","name":"スケジュール"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_","mode":"list","cachedResultName":"GitHub Backup","cachedResultUrl":"https://drive.google.com/drive/folders/1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-464,-528],"id":"9d8ba756-443d-4cfd-976f-1a11e67b2a1a","name":"全てのバックアップファイル取得","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"url":"https://api.github.com/user/repos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-448,-144],"id":"b4c6e5a5-f394-4ce9-871c-aa3fc1493a1f","name":"全てのレポジトリ取得","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{"jsCode":"const repositoryNamesInGitHub = $input.all().map((i) => i.json);\n\nreturn [{repositoryNamesInGitHub}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-320],"id":"bc170150-002b-480f-8c25-af7e90e6b3f8","name":"全てのレポジトリまとめる"},{"parameters":{"jsCode":"const repositoryNamesInDrive = $input.all().map((i) => i.json);\n\nreturn [{repositoryNamesInDrive}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-528],"id":"07e965a3-0d75-4649-a321-3bd14b2d2f61","name":"全てのバックアップファイルまとめる"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[80,-512],"id":"6cad03ad-bb0b-44e5-9882-c5e5160eba69","name":"マージ"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst driveItem = items.find((i) =>\n  Array.isArray(i.json.repositoryNamesInDrive),\n);\nconst githubItem = items.find((i) =>\n  Array.isArray(i.json.repositoryNamesInGitHub),\n);\n\nconst driveFiles = driveItem?.json.repositoryNamesInDrive ?? [];\nconst githubRepos = githubItem?.json.repositoryNamesInGitHub ?? [];\n\nconst normalize = (v) => String(v ?? \"\").trim().replace(/\\.zip$/i, \"\");\n\nconst githubSet = new Set(\n  githubRepos\n    .map((r) => (typeof r === \"string\" ? r : r?.name))\n    .map(normalize)\n    .filter(Boolean),\n);\n\nconst driveOnly = driveFiles.filter((f) => {\n  const key = normalize(f?.name);\n  return key && !githubSet.has(key);\n});\n\nreturn driveOnly.map((f) => ({\n  json: {\n    name: normalize(f.name),\n    id: f.id,\n  },\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-512],"id":"d3213f20-c9a6-4de3-969c-c5671c21ec85","name":"削除するファイル"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,-512],"id":"0be63ec6-49a5-4088-b12d-4cf6d582a792","name":"削除するファイルループ"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[784,-496],"id":"592c98ec-4048-4d50-8563-6c9a8289669c","name":"ファイル削除","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}}],"connections":{"手動実行":{"main":[[{"node":"全てのレポジトリ取得","type":"main","index":0},{"node":"全てのバックアップファイル取得","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"レポジトリダウンロード","type":"main","index":0}]]},"レポジトリダウンロード":{"main":[[{"node":"展開","type":"main","index":0}]]},"展開":{"main":[[{"node":"圧縮","type":"main","index":0}]]},"圧縮":{"main":[[{"node":"レポジトリが存在しているかチェック","type":"main","index":0}]]},"レポジトリが存在しているかチェック":{"main":[[{"node":"レポジトリが存在している","type":"main","index":0}]]},"レポジトリが存在している":{"main":[[{"node":"レポジトリアップデート","type":"main","index":0}],[{"node":"レポジトリアップロード","type":"main","index":0}]]},"レポジトリアップロード":{"main":[[{"node":"ループ","type":"main","index":0}]]},"レポジトリアップデート":{"main":[[{"node":"ループ","type":"main","index":0}]]},"スケジュール":{"main":[[{"node":"全てのレポジトリ取得","type":"main","index":0},{"node":"全てのバックアップファイル取得","type":"main","index":0}]]},"全てのバックアップファイル取得":{"main":[[{"node":"全てのバックアップファイルまとめる","type":"main","index":0}]]},"全てのレポジトリ取得":{"main":[[{"node":"全てのレポジトリまとめる","type":"main","index":0},{"node":"ループ","type":"main","index":0}]]},"全てのレポジトリまとめる":{"main":[[{"node":"マージ","type":"main","index":1}]]},"全てのバックアップファイルまとめる":{"main":[[{"node":"マージ","type":"main","index":0}]]},"マージ":{"main":[[{"node":"削除するファイル","type":"main","index":0}]]},"削除するファイル":{"main":[[{"node":"削除するファイルループ","type":"main","index":0}]]},"削除するファイルループ":{"main":[[],[{"node":"ファイル削除","type":"main","index":0}]]},"ファイル削除":{"main":[[{"node":"削除するファイルループ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:スケジュール":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"637c20d2-b665-4854-aa4b-ca408391533a","activeVersionId":"637c20d2-b665-4854-aa4b-ca408391533a","triggerCount":1,"shared":[{"updatedAt":"2026-03-25T09:13:40.008Z","createdAt":"2026-03-25T09:13:40.008Z","role":"workflow:owner","workflowId":"SRuuhJildosojVz3","projectId":"qGoXUbBEvTRGfpDj"}],"activeVersion":{"updatedAt":"2026-03-26T07:32:38.000Z","createdAt":"2026-03-26T07:31:37.350Z","versionId":"637c20d2-b665-4854-aa4b-ca408391533a","workflowId":"SRuuhJildosojVz3","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-784,-288],"id":"9820a7db-33b9-4e9b-aa05-8e1742540aad","name":"手動実行"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-112,-64],"id":"4ee129c8-4ddd-4ac4-b31a-ac3726f5c94e","name":"ループ"},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.owner.login }}/{{ $json.name }}/zipball","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[160,-48],"id":"2cbb500a-4bf5-4eab-9603-5f3fb4102b08","name":"レポジトリダウンロード","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[416,-48],"id":"e769c878-9586-41ff-a286-222ab6d82ead","name":"展開"},{"parameters":{"operation":"compress","binaryPropertyName":"={{ Object.keys($binary).join(',') }}","fileName":"={{ $json.name }}.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[688,-48],"id":"88c2758d-6b70-4c31-8a8c-08c102d03080","name":"圧縮"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}.zip","limit":1,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[912,-48],"id":"2787600f-0358-4b8c-ad15-5d2f2ef0091f","name":"レポジトリが存在しているかチェック","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"95b5df8b-767c-4d9f-8c2c-ef5cd251ff2e","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1136,-48],"id":"80f5a2b6-1eb6-4ad1-80ed-78658eef3834","name":"レポジトリが存在している"},{"parameters":{"inputDataFieldName":"={{$node[\"圧縮\"].binary.data}}","name":"={{ $('圧縮').item.json.name }}.zip","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_","mode":"list","cachedResultName":"GitHub Backup","cachedResultUrl":"https://drive.google.com/drive/folders/1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1312,96],"id":"2c18b7f8-0b85-4b16-b015-79740748b3be","name":"レポジトリアップロード","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1584,144],"id":"b4937d65-e2cc-44db-bcc6-7ff593d786e3","name":"レポジトリアップデート","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-784,-48],"id":"25eec49f-07be-42e8-9d7a-bdc101f8ff5b","name":"スケジュール"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_","mode":"list","cachedResultName":"GitHub Backup","cachedResultUrl":"https://drive.google.com/drive/folders/1Pu0sZlP_sypo5q1VydQd7HACS00L5ob_"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-464,-528],"id":"9d8ba756-443d-4cfd-976f-1a11e67b2a1a","name":"全てのバックアップファイル取得","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}},{"parameters":{"url":"https://api.github.com/user/repos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-448,-144],"id":"b4c6e5a5-f394-4ce9-871c-aa3fc1493a1f","name":"全てのレポジトリ取得","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{"jsCode":"const repositoryNamesInGitHub = $input.all().map((i) => i.json);\n\nreturn [{repositoryNamesInGitHub}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-320],"id":"bc170150-002b-480f-8c25-af7e90e6b3f8","name":"全てのレポジトリまとめる"},{"parameters":{"jsCode":"const repositoryNamesInDrive = $input.all().map((i) => i.json);\n\nreturn [{repositoryNamesInDrive}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-528],"id":"07e965a3-0d75-4649-a321-3bd14b2d2f61","name":"全てのバックアップファイルまとめる"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[80,-512],"id":"6cad03ad-bb0b-44e5-9882-c5e5160eba69","name":"マージ"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst driveItem = items.find((i) =>\n  Array.isArray(i.json.repositoryNamesInDrive),\n);\nconst githubItem = items.find((i) =>\n  Array.isArray(i.json.repositoryNamesInGitHub),\n);\n\nconst driveFiles = driveItem?.json.repositoryNamesInDrive ?? [];\nconst githubRepos = githubItem?.json.repositoryNamesInGitHub ?? [];\n\nconst normalize = (v) => String(v ?? \"\").trim().replace(/\\.zip$/i, \"\");\n\nconst githubSet = new Set(\n  githubRepos\n    .map((r) => (typeof r === \"string\" ? r : r?.name))\n    .map(normalize)\n    .filter(Boolean),\n);\n\nconst driveOnly = driveFiles.filter((f) => {\n  const key = normalize(f?.name);\n  return key && !githubSet.has(key);\n});\n\nreturn driveOnly.map((f) => ({\n  json: {\n    name: normalize(f.name),\n    id: f.id,\n  },\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-512],"id":"d3213f20-c9a6-4de3-969c-c5671c21ec85","name":"削除するファイル"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,-512],"id":"0be63ec6-49a5-4088-b12d-4cf6d582a792","name":"削除するファイルループ"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[784,-496],"id":"592c98ec-4048-4d50-8563-6c9a8289669c","name":"ファイル削除","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive"}}}],"connections":{"手動実行":{"main":[[{"node":"全てのレポジトリ取得","type":"main","index":0},{"node":"全てのバックアップファイル取得","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"レポジトリダウンロード","type":"main","index":0}]]},"レポジトリダウンロード":{"main":[[{"node":"展開","type":"main","index":0}]]},"展開":{"main":[[{"node":"圧縮","type":"main","index":0}]]},"圧縮":{"main":[[{"node":"レポジトリが存在しているかチェック","type":"main","index":0}]]},"レポジトリが存在しているかチェック":{"main":[[{"node":"レポジトリが存在している","type":"main","index":0}]]},"レポジトリが存在している":{"main":[[{"node":"レポジトリアップデート","type":"main","index":0}],[{"node":"レポジトリアップロード","type":"main","index":0}]]},"レポジトリアップロード":{"main":[[{"node":"ループ","type":"main","index":0}]]},"レポジトリアップデート":{"main":[[{"node":"ループ","type":"main","index":0}]]},"スケジュール":{"main":[[{"node":"全てのレポジトリ取得","type":"main","index":0},{"node":"全てのバックアップファイル取得","type":"main","index":0}]]},"全てのバックアップファイル取得":{"main":[[{"node":"全てのバックアップファイルまとめる","type":"main","index":0}]]},"全てのレポジトリ取得":{"main":[[{"node":"全てのレポジトリまとめる","type":"main","index":0},{"node":"ループ","type":"main","index":0}]]},"全てのレポジトリまとめる":{"main":[[{"node":"マージ","type":"main","index":1}]]},"全てのバックアップファイルまとめる":{"main":[[{"node":"マージ","type":"main","index":0}]]},"マージ":{"main":[[{"node":"削除するファイル","type":"main","index":0}]]},"削除するファイル":{"main":[[{"node":"削除するファイルループ","type":"main","index":0}]]},"削除するファイルループ":{"main":[[],[{"node":"ファイル削除","type":"main","index":0}]]},"ファイル削除":{"main":[[{"node":"削除するファイルループ","type":"main","index":0}]]}},"authors":"Kenta Yamada","name":"Version 637c20d2","description":"","autosaved":true},"tags":[]}