workflows/My workflow.json
{"updatedAt":"2026-03-25T10:23:03.039Z","createdAt":"2026-03-25T09:13:40.005Z","id":"SRuuhJildosojVz3","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.github.com/user/repos","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[64,-80],"id":"b4c6e5a5-f394-4ce9-871c-aa3fc1493a1f","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,-80],"id":"9820a7db-33b9-4e9b-aa05-8e1742540aad","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,-80],"id":"4ee129c8-4ddd-4ac4-b31a-ac3726f5c94e","name":"Loop Over Items"},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.owner.login }}/{{ $json.name }}/zipball","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[496,-80],"id":"2cbb500a-4bf5-4eab-9603-5f3fb4102b08","name":"HTTP Request1","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[704,-80],"id":"dc52e756-4ff4-4549-b786-9b5d8bb6c2d1","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"AdC7k2orQ6Z2oXFU","name":"Google Drive account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ff09ed2-4a0d-4730-b21e-0b7d827bc570","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-25T09:13:40.008Z","createdAt":"2026-03-25T09:13:40.008Z","role":"workflow:owner","workflowId":"SRuuhJildosojVz3","projectId":"qGoXUbBEvTRGfpDj"}],"activeVersion":null,"tags":[]}