workflows/バックアップ.json
{"updatedAt":"2026-03-14T08:52:31.926Z","createdAt":"2026-03-14T06:55:02.541Z","id":"g7K8cFGHk9prHc4U","name":"バックアップ","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-672,128],"id":"61b0bbf9-5e66-4cac-84f2-78d276c7f070","name":"スケジュール"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-448,32],"id":"f0065085-808e-4eea-8a75-a15966d8bed0","name":"全てのワークフローを取得","credentials":{"n8nApi":{"id":"BdO4K5EnhKEOcfrt","name":"n8n"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,32],"id":"e847a1c8-9e98-4e84-9ea9-9b8fdcac9c09","name":"ループ"},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[0,-40],"id":"d5dd1c39-bd11-4d3e-9b29-c9e15783404f","name":"jsonファイル生成"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[224,-40],"id":"14e494ec-a9a5-4649-a208-9f80bb0375d0","name":"base64に変換"},{"parameters":{"url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/workflows/{{ $('ループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,-40],"id":"35bf1225-c319-4727-9bb6-672ca3f46d73","name":"SHA取得","credentials":{"httpBearerAuth":{"id":"HzEMFeGC8r8tTqgo","name":"GitHub"}}},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/workflows/{{ $('ループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"update"},{"name":"=content","value":"={{ $('base64に変換').item.json.data }}"},{"name":"sha","value":"={{ $json.sha }}"}]},"options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,32],"id":"768b4bde-6c1a-4b8c-949f-918af214335b","name":"GitHubアップロード","credentials":{"httpBearerAuth":{"id":"HzEMFeGC8r8tTqgo","name":"GitHub"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-672,-64],"id":"75814024-1fae-48fc-be75-3c4f6ba72136","name":"手動実行"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edc26b7e-af4a-4751-8c9d-5290b4792314","leftValue":"={{ $json.content.replace(/\\n/g, '') }}","rightValue":"={{ $('base64に変換').item.json.data }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[672,-40],"id":"fdb336de-a122-4512-ad58-b43f60e1f210","name":"変更あり"}],"connections":{"スケジュール":{"main":[[{"node":"全てのワークフローを取得","type":"main","index":0}]]},"全てのワークフローを取得":{"main":[[{"node":"ループ","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"jsonファイル生成","type":"main","index":0}]]},"jsonファイル生成":{"main":[[{"node":"base64に変換","type":"main","index":0}]]},"base64に変換":{"main":[[{"node":"SHA取得","type":"main","index":0}]]},"SHA取得":{"main":[[{"node":"変更あり","type":"main","index":0}]]},"GitHubアップロード":{"main":[[{"node":"ループ","type":"main","index":0}]]},"手動実行":{"main":[[{"node":"全てのワークフローを取得","type":"main","index":0}]]},"変更あり":{"main":[[{"node":"GitHubアップロード","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:スケジュール":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"45431521-f0de-42c1-9670-72fe8b5cc21e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-14T06:55:02.544Z","createdAt":"2026-03-14T06:55:02.544Z","role":"workflow:owner","workflowId":"g7K8cFGHk9prHc4U","projectId":"x0jW1NnJLCRn0Pjp"}],"activeVersion":null,"tags":[]}