workflows/ワークフローバックアップ.json
{"updatedAt":"2026-03-26T07:33:25.407Z","createdAt":"2026-03-23T05:33:36.601Z","id":"e2w7VdecwWJNKPTS","name":"ワークフローバックアップ","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1072,80],"id":"61b0bbf9-5e66-4cac-84f2-78d276c7f070","name":"スケジュール"},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-224,96],"id":"d5dd1c39-bd11-4d3e-9b29-c9e15783404f","name":"jsonファイル生成"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[64,96],"id":"14e494ec-a9a5-4649-a208-9f80bb0375d0","name":"base64に変換"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/workflows/{{ $('N8Nにあるワークフローループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"update"},{"name":"=content","value":"={{ $('base64に変換').item.json.data }}"},{"name":"sha","value":"={{ $json.sha }}"}]},"options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[880,80],"id":"768b4bde-6c1a-4b8c-949f-918af214335b","name":"GitHubアップロード","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1072,-112],"id":"75814024-1fae-48fc-be75-3c4f6ba72136","name":"手動実行"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edc26b7e-af4a-4751-8c9d-5290b4792314","leftValue":"={{ $json.content.replace(/\\n/g, '') }}","rightValue":"={{ $('base64に変換').item.json.data }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[624,96],"id":"fdb336de-a122-4512-ad58-b43f60e1f210","name":"変更あり"},{"parameters":{"url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/workflows/{{ $('N8Nにあるワークフローループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[336,96],"id":"7a5d04b0-7324-4a50-8671-05f6422b7371","name":"SHAを取得","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/kentayamada-dev","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"workflows"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-768,-400],"id":"959ae9eb-1fa2-456b-a2db-3efca81a347d","name":"GitHubにあるワークフローを取得","webhookId":"ea900c92-5caa-4bbc-b613-1b46992d1b15","credentials":{"githubApi":{"id":"dGF7fWu5KL9PSE96","name":"GitHub"}}},{"parameters":{"jsCode":"const workflowNamesInGitHub = $input.all().map((i) => i.json.name);\n\nreturn [{workflowNamesInGitHub}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,-400],"id":"bcd2ce97-faf4-47ca-acc6-2da3a9e019a1","name":"GitHubにあるワークフローをまとめる"},{"parameters":{"jsCode":"const workflowNamesInN8N = $input.all().map((i) => i.json.name);\n\nreturn [{workflowNamesInN8N}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-112],"id":"7e0b6132-10e7-4894-88c8-746a841539c4","name":"N8Nにあるワークフローをまとめる"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-768,-112],"id":"f0065085-808e-4eea-8a75-a15966d8bed0","name":"N8Nにあるワークフローを取得","credentials":{"n8nApi":{"id":"yGn5KYHN8LkCDelJ","name":"n8n"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-320,-384],"id":"4fdfc33b-0b85-4d36-9c52-89178b66f518","name":"マージ"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst githubItem = items.find((i) =>\n  Array.isArray(i.json.workflowNamesInGitHub)\n);\nconst n8nItem = items.find((i) => Array.isArray(i.json.workflowNamesInN8N));\n\nconst githubNames = githubItem?.json.workflowNamesInGitHub ?? [];\nconst n8nNames = n8nItem?.json.workflowNamesInN8N ?? [];\n\nconst normalize = (v) => v.trim().replace(/\\.json$/i, \"\");\n\nconst n8nSet = new Set(n8nNames.map(normalize).filter(Boolean));\n\nconst githubOnlyNames = githubNames.filter((gh) => {\n  const key = normalize(gh);\n  return key && !n8nSet.has(key);\n});\n\nreturn githubOnlyNames.map((name) => ({json: {name}}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-384],"id":"306dad00-c218-47d7-a335-5451775a6ef9","name":"削除するワークフロー"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-384],"id":"3628c38c-5c65-4072-8e7e-d158a31a87bd","name":"削除するワークフローループ"},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"kentayamada-dev","mode":"list","cachedResultName":"kentayamada-dev","cachedResultUrl":"https://github.com/kentayamada-dev"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"=workflows/{{ $json.name }}","commitMessage":"delete"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[400,-368],"id":"91d09273-295e-4d8b-84a3-1bab11583fa0","name":"ワークフロー削除","webhookId":"f909e605-9d72-44ee-80ea-5200aa653980","credentials":{"githubApi":{"id":"dGF7fWu5KL9PSE96","name":"GitHub"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-560,80],"id":"e847a1c8-9e98-4e84-9ea9-9b8fdcac9c09","name":"N8Nにあるワークフローループ"}],"connections":{"スケジュール":{"main":[[{"node":"N8Nにあるワークフローを取得","type":"main","index":0},{"node":"GitHubにあるワークフローを取得","type":"main","index":0}]]},"jsonファイル生成":{"main":[[{"node":"base64に変換","type":"main","index":0}]]},"base64に変換":{"main":[[{"node":"SHAを取得","type":"main","index":0}]]},"GitHubアップロード":{"main":[[{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]},"手動実行":{"main":[[{"node":"N8Nにあるワークフローを取得","type":"main","index":0},{"node":"GitHubにあるワークフローを取得","type":"main","index":0}]]},"変更あり":{"main":[[{"node":"GitHubアップロード","type":"main","index":0}],[{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]},"SHAを取得":{"main":[[{"node":"変更あり","type":"main","index":0}]]},"GitHubにあるワークフローを取得":{"main":[[{"node":"GitHubにあるワークフローをまとめる","type":"main","index":0}]]},"GitHubにあるワークフローをまとめる":{"main":[[{"node":"マージ","type":"main","index":0}]]},"N8Nにあるワークフローをまとめる":{"main":[[{"node":"マージ","type":"main","index":1}]]},"N8Nにあるワークフローを取得":{"main":[[{"node":"N8Nにあるワークフローをまとめる","type":"main","index":0},{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]},"マージ":{"main":[[{"node":"削除するワークフロー","type":"main","index":0}]]},"削除するワークフロー":{"main":[[{"node":"削除するワークフローループ","type":"main","index":0}]]},"削除するワークフローループ":{"main":[[],[{"node":"ワークフロー削除","type":"main","index":0}]]},"ワークフロー削除":{"main":[[{"node":"削除するワークフローループ","type":"main","index":0}]]},"N8Nにあるワークフローループ":{"main":[[],[{"node":"jsonファイル生成","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:スケジュール":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bb64582a-d176-4605-85c6-ded422e7b54c","activeVersionId":"bb64582a-d176-4605-85c6-ded422e7b54c","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T05:33:36.604Z","createdAt":"2026-03-23T05:33:36.604Z","role":"workflow:owner","workflowId":"e2w7VdecwWJNKPTS","projectId":"qGoXUbBEvTRGfpDj"}],"activeVersion":{"updatedAt":"2026-03-26T07:33:30.000Z","createdAt":"2026-03-26T07:33:25.409Z","versionId":"bb64582a-d176-4605-85c6-ded422e7b54c","workflowId":"e2w7VdecwWJNKPTS","nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1072,80],"id":"61b0bbf9-5e66-4cac-84f2-78d276c7f070","name":"スケジュール"},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-224,96],"id":"d5dd1c39-bd11-4d3e-9b29-c9e15783404f","name":"jsonファイル生成"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[64,96],"id":"14e494ec-a9a5-4649-a208-9f80bb0375d0","name":"base64に変換"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/workflows/{{ $('N8Nにあるワークフローループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"update"},{"name":"=content","value":"={{ $('base64に変換').item.json.data }}"},{"name":"sha","value":"={{ $json.sha }}"}]},"options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[880,80],"id":"768b4bde-6c1a-4b8c-949f-918af214335b","name":"GitHubアップロード","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1072,-112],"id":"75814024-1fae-48fc-be75-3c4f6ba72136","name":"手動実行"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edc26b7e-af4a-4751-8c9d-5290b4792314","leftValue":"={{ $json.content.replace(/\\n/g, '') }}","rightValue":"={{ $('base64に変換').item.json.data }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[624,96],"id":"fdb336de-a122-4512-ad58-b43f60e1f210","name":"変更あり"},{"parameters":{"url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/workflows/{{ $('N8Nにあるワークフローループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[336,96],"id":"7a5d04b0-7324-4a50-8671-05f6422b7371","name":"SHAを取得","credentials":{"httpBearerAuth":{"id":"drA5SfT2lN7yAwgI","name":"GitHub"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/kentayamada-dev","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"workflows"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-768,-400],"id":"959ae9eb-1fa2-456b-a2db-3efca81a347d","name":"GitHubにあるワークフローを取得","webhookId":"ea900c92-5caa-4bbc-b613-1b46992d1b15","credentials":{"githubApi":{"id":"dGF7fWu5KL9PSE96","name":"GitHub"}}},{"parameters":{"jsCode":"const workflowNamesInGitHub = $input.all().map((i) => i.json.name);\n\nreturn [{workflowNamesInGitHub}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,-400],"id":"bcd2ce97-faf4-47ca-acc6-2da3a9e019a1","name":"GitHubにあるワークフローをまとめる"},{"parameters":{"jsCode":"const workflowNamesInN8N = $input.all().map((i) => i.json.name);\n\nreturn [{workflowNamesInN8N}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-112],"id":"7e0b6132-10e7-4894-88c8-746a841539c4","name":"N8Nにあるワークフローをまとめる"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-768,-112],"id":"f0065085-808e-4eea-8a75-a15966d8bed0","name":"N8Nにあるワークフローを取得","credentials":{"n8nApi":{"id":"yGn5KYHN8LkCDelJ","name":"n8n"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-320,-384],"id":"4fdfc33b-0b85-4d36-9c52-89178b66f518","name":"マージ"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst githubItem = items.find((i) =>\n  Array.isArray(i.json.workflowNamesInGitHub)\n);\nconst n8nItem = items.find((i) => Array.isArray(i.json.workflowNamesInN8N));\n\nconst githubNames = githubItem?.json.workflowNamesInGitHub ?? [];\nconst n8nNames = n8nItem?.json.workflowNamesInN8N ?? [];\n\nconst normalize = (v) => v.trim().replace(/\\.json$/i, \"\");\n\nconst n8nSet = new Set(n8nNames.map(normalize).filter(Boolean));\n\nconst githubOnlyNames = githubNames.filter((gh) => {\n  const key = normalize(gh);\n  return key && !n8nSet.has(key);\n});\n\nreturn githubOnlyNames.map((name) => ({json: {name}}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-384],"id":"306dad00-c218-47d7-a335-5451775a6ef9","name":"削除するワークフロー"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-384],"id":"3628c38c-5c65-4072-8e7e-d158a31a87bd","name":"削除するワークフローループ"},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"kentayamada-dev","mode":"list","cachedResultName":"kentayamada-dev","cachedResultUrl":"https://github.com/kentayamada-dev"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"=workflows/{{ $json.name }}","commitMessage":"delete"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[400,-368],"id":"91d09273-295e-4d8b-84a3-1bab11583fa0","name":"ワークフロー削除","webhookId":"f909e605-9d72-44ee-80ea-5200aa653980","credentials":{"githubApi":{"id":"dGF7fWu5KL9PSE96","name":"GitHub"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-560,80],"id":"e847a1c8-9e98-4e84-9ea9-9b8fdcac9c09","name":"N8Nにあるワークフローループ"}],"connections":{"スケジュール":{"main":[[{"node":"N8Nにあるワークフローを取得","type":"main","index":0},{"node":"GitHubにあるワークフローを取得","type":"main","index":0}]]},"jsonファイル生成":{"main":[[{"node":"base64に変換","type":"main","index":0}]]},"base64に変換":{"main":[[{"node":"SHAを取得","type":"main","index":0}]]},"GitHubアップロード":{"main":[[{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]},"手動実行":{"main":[[{"node":"N8Nにあるワークフローを取得","type":"main","index":0},{"node":"GitHubにあるワークフローを取得","type":"main","index":0}]]},"変更あり":{"main":[[{"node":"GitHubアップロード","type":"main","index":0}],[{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]},"SHAを取得":{"main":[[{"node":"変更あり","type":"main","index":0}]]},"GitHubにあるワークフローを取得":{"main":[[{"node":"GitHubにあるワークフローをまとめる","type":"main","index":0}]]},"GitHubにあるワークフローをまとめる":{"main":[[{"node":"マージ","type":"main","index":0}]]},"N8Nにあるワークフローをまとめる":{"main":[[{"node":"マージ","type":"main","index":1}]]},"N8Nにあるワークフローを取得":{"main":[[{"node":"N8Nにあるワークフローをまとめる","type":"main","index":0},{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]},"マージ":{"main":[[{"node":"削除するワークフロー","type":"main","index":0}]]},"削除するワークフロー":{"main":[[{"node":"削除するワークフローループ","type":"main","index":0}]]},"削除するワークフローループ":{"main":[[],[{"node":"ワークフロー削除","type":"main","index":0}]]},"ワークフロー削除":{"main":[[{"node":"削除するワークフローループ","type":"main","index":0}]]},"N8Nにあるワークフローループ":{"main":[[],[{"node":"jsonファイル生成","type":"main","index":0}]]}},"authors":"Kenta Yamada","name":"Version bb64582a","description":"","autosaved":true},"tags":[]}