workflows/ワークフロー自動設定.json
{"updatedAt":"2026-04-01T07:34:19.251Z","createdAt":"2026-04-01T02:56:10.479Z","id":"nw0dbHk4EfAiTKnG","name":"ワークフロー自動設定","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,96],"id":"00253bec-407e-416d-8992-b19b401b5f4d","name":"手動実行"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[864,96],"id":"32be082e-0aec-4cbd-9234-c73d9fc9a803","name":"ループ"},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"include":"except","excludeFields":"data.settings.binaryMode","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1536,24],"id":"e7554a7c-2c7e-4b33-9a2e-73dfb2b5241c","name":"binaryModeを除外"},{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json.data) }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1760,96],"id":"570241b9-a17b-409a-ac29-b1c38285f032","name":"ワークフローを作成","credentials":{"n8nApi":{"id":"FUJ8l1ODKyXTjYQA","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/kentayamada-dev","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"=workflows/{{ $json.name }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1088,24],"id":"035fce17-bcbf-45c3-8321-e74f6ba103af","name":"ワークフローファイルを取得","webhookId":"9e585869-f99c-4b72-b82f-7ae87b8218ba","credentials":{"githubApi":{"id":"CfSYyQB4QcHIEzny","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1312,24],"id":"3bc5f4aa-090f-4c8a-a885-1e144d234a7b","name":"JSONデータに変換"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-32,192],"id":"8ff04089-131a-4f67-a073-24f3a237c1eb","name":"N8Nにあるワークフローを取得","credentials":{"n8nApi":{"id":"FUJ8l1ODKyXTjYQA","name":"n8n account"}}},{"parameters":{"jsCode":"const workflowNamesInGitHub = $input.all().map((i) => i.json.name);\n\nreturn [{workflowNamesInGitHub}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,0],"id":"2aeb8b51-e884-4d7c-a4b0-c27f8e5fc0d1","name":"GitHubにあるワークフローをまとめる"},{"parameters":{"jsCode":"const workflowNamesInN8N = $input.all().map((i) => i.json.name);\n\nreturn [{workflowNamesInN8N}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,192],"id":"93905d39-6a74-49a8-9047-31c371676d23","name":"N8Nにあるワークフローをまとめる"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[416,96],"id":"8d30a69c-98da-4e90-b46b-3df3f77138bf","name":"マージ"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst githubItem = items.find((i) =>\n  Array.isArray(i.json.workflowNamesInGitHub)\n);\nconst n8nItem = items.find((i) => Array.isArray(i.json.workflowNamesInN8N));\n\nconst githubNames = githubItem?.json.workflowNamesInGitHub ?? [];\nconst n8nNames = n8nItem?.json.workflowNamesInN8N ?? [];\n\nconst normalize = (v) => v.trim().replace(/\\.json$/i, \"\");\n\nconst n8nSet = new Set(n8nNames.map(normalize).filter(Boolean));\n\nconst githubOnlyNames = githubNames.filter((gh) => {\n  const key = normalize(gh);\n  return key && !n8nSet.has(key);\n});\n\nreturn githubOnlyNames.map((name) => ({json: {name}}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,96],"id":"8ac24f84-e4e2-4eef-b304-29d4fcedf797","name":"N8Nに追加するワークフロー"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/kentayamada-dev","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"workflows"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-32,0],"id":"636c64f0-c065-4392-a509-d916f594a2e1","name":"GitHubにあるワークフローを取得","webhookId":"c4ac5eee-b635-4961-9c23-f8b47aa99de4","credentials":{"githubApi":{"id":"CfSYyQB4QcHIEzny","name":"GitHub account"}}}],"connections":{"手動実行":{"main":[[{"node":"N8Nにあるワークフローを取得","type":"main","index":0},{"node":"GitHubにあるワークフローを取得","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"ワークフローファイルを取得","type":"main","index":0}]]},"binaryModeを除外":{"main":[[{"node":"ワークフローを作成","type":"main","index":0}]]},"ワークフローを作成":{"main":[[{"node":"ループ","type":"main","index":0}]]},"ワークフローファイルを取得":{"main":[[{"node":"JSONデータに変換","type":"main","index":0}]]},"JSONデータに変換":{"main":[[{"node":"binaryModeを除外","type":"main","index":0}]]},"N8Nにあるワークフローを取得":{"main":[[{"node":"N8Nにあるワークフローをまとめる","type":"main","index":0}]]},"GitHubにあるワークフローをまとめる":{"main":[[{"node":"マージ","type":"main","index":0}]]},"N8Nにあるワークフローをまとめる":{"main":[[{"node":"マージ","type":"main","index":1}]]},"マージ":{"main":[[{"node":"N8Nに追加するワークフロー","type":"main","index":0}]]},"N8Nに追加するワークフロー":{"main":[[{"node":"ループ","type":"main","index":0}]]},"GitHubにあるワークフローを取得":{"main":[[{"node":"GitHubにあるワークフローをまとめる","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2c8ebb52-f45e-44c0-89ef-9dd6c7431eba","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-01T02:56:10.483Z","createdAt":"2026-04-01T02:56:10.483Z","role":"workflow:owner","workflowId":"nw0dbHk4EfAiTKnG","projectId":"vOdCI5SLidB5h635"}],"activeVersion":null,"tags":[]}