workflows/ワークフローバックアップ.json
{"updatedAt":"2026-04-01T07:34:38.222Z","createdAt":"2026-04-01T02:58:58.832Z","id":"NdADDrMiucWdvBCG","name":"ワークフローバックアップ","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1072,56],"id":"61b0bbf9-5e66-4cac-84f2-78d276c7f070","name":"スケジュール"},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-400,-16],"id":"d5dd1c39-bd11-4d3e-9b29-c9e15783404f","name":"jsonファイル生成"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-176,-16],"id":"14e494ec-a9a5-4649-a208-9f80bb0375d0","name":"base64に変換"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1088,-128],"id":"75814024-1fae-48fc-be75-3c4f6ba72136","name":"手動実行"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edc26b7e-af4a-4751-8c9d-5290b4792314","leftValue":"={{ $json.content.replace(/\\n/g, '') }}","rightValue":"={{ $('base64に変換').item.json.data }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[272,104],"id":"fdb336de-a122-4512-ad58-b43f60e1f210","name":"変更あり"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/kentayamada-dev","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"workflows"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-848,-352],"id":"959ae9eb-1fa2-456b-a2db-3efca81a347d","name":"GitHubにあるワークフローを取得","webhookId":"ea900c92-5caa-4bbc-b613-1b46992d1b15","credentials":{"githubApi":{"id":"CfSYyQB4QcHIEzny","name":"GitHub account"}}},{"parameters":{"jsCode":"const workflowNamesInGitHub = $input.all().map((i) => i.json.name);\n\nreturn [{workflowNamesInGitHub}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,-352],"id":"bcd2ce97-faf4-47ca-acc6-2da3a9e019a1","name":"GitHubにあるワークフローをまとめる"},{"parameters":{"jsCode":"const workflowNamesInN8N = $input.all().map((i) => i.json.name);\n\nreturn [{workflowNamesInN8N}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,-160],"id":"7e0b6132-10e7-4894-88c8-746a841539c4","name":"N8Nにあるワークフローをまとめる"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-400,-256],"id":"4fdfc33b-0b85-4d36-9c52-89178b66f518","name":"マージ"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst githubItem = items.find((i) =>\n  Array.isArray(i.json.workflowNamesInGitHub)\n);\nconst n8nItem = items.find((i) => Array.isArray(i.json.workflowNamesInN8N));\n\nconst githubNames = githubItem?.json.workflowNamesInGitHub ?? [];\nconst n8nNames = n8nItem?.json.workflowNamesInN8N ?? [];\n\nconst normalize = (v) => v.trim().replace(/\\.json$/i, \"\");\n\nconst n8nSet = new Set(n8nNames.map(normalize).filter(Boolean));\n\nconst githubOnlyNames = githubNames.filter((gh) => {\n  const key = normalize(gh);\n  return key && !n8nSet.has(key);\n});\n\nreturn githubOnlyNames.map((name) => ({json: {name}}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,-256],"id":"306dad00-c218-47d7-a335-5451775a6ef9","name":"削除するワークフロー"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[48,-256],"id":"3628c38c-5c65-4072-8e7e-d158a31a87bd","name":"削除するワークフローループ"},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"kentayamada-dev","mode":"list","cachedResultName":"kentayamada-dev","cachedResultUrl":"https://github.com/kentayamada-dev"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"=workflows/{{ $json.name }}","commitMessage":"delete"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[272,-256],"id":"91d09273-295e-4d8b-84a3-1bab11583fa0","name":"ワークフロー削除","webhookId":"f909e605-9d72-44ee-80ea-5200aa653980","credentials":{"githubApi":{"id":"CfSYyQB4QcHIEzny","name":"GitHub account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-624,128],"id":"e847a1c8-9e98-4e84-9ea9-9b8fdcac9c09","name":"N8Nにあるワークフローループ"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-848,8],"id":"03910c8b-42fb-4eb4-b3df-89412d0e9326","name":"N8Nにあるワークフローを取得","credentials":{"n8nApi":{"id":"FUJ8l1ODKyXTjYQA","name":"n8n account"}}},{"parameters":{"url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/workflows/{{ $('N8Nにあるワークフローループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[48,-16],"id":"61e86def-b03e-444b-b155-3fc09fd1fb8e","name":"SHAを取得","credentials":{"httpBearerAuth":{"id":"iKgDqDrKGYqJIoM6","name":"GitHub account"}}},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/workflows/{{ $('N8Nにあるワークフローループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"update"},{"name":"=content","value":"={{ $('base64に変換').item.json.data }}"},{"name":"sha","value":"={{ $json.sha }}"}]},"options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[496,176],"id":"efe13456-8fbb-4a50-aeac-8a0473568a87","name":"GitHubアップロード","credentials":{"httpBearerAuth":{"id":"iKgDqDrKGYqJIoM6","name":"GitHub account"}}}],"connections":{"スケジュール":{"main":[[{"node":"GitHubにあるワークフローを取得","type":"main","index":0},{"node":"N8Nにあるワークフローを取得","type":"main","index":0}]]},"jsonファイル生成":{"main":[[{"node":"base64に変換","type":"main","index":0}]]},"base64に変換":{"main":[[{"node":"SHAを取得","type":"main","index":0}]]},"手動実行":{"main":[[{"node":"GitHubにあるワークフローを取得","type":"main","index":0},{"node":"N8Nにあるワークフローを取得","type":"main","index":0}]]},"変更あり":{"main":[[{"node":"GitHubアップロード","type":"main","index":0}],[{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]},"GitHubにあるワークフローを取得":{"main":[[{"node":"GitHubにあるワークフローをまとめる","type":"main","index":0}]]},"GitHubにあるワークフローをまとめる":{"main":[[{"node":"マージ","type":"main","index":0}]]},"N8Nにあるワークフローをまとめる":{"main":[[{"node":"マージ","type":"main","index":1}]]},"マージ":{"main":[[{"node":"削除するワークフロー","type":"main","index":0}]]},"削除するワークフロー":{"main":[[{"node":"削除するワークフローループ","type":"main","index":0}]]},"削除するワークフローループ":{"main":[[],[{"node":"ワークフロー削除","type":"main","index":0}]]},"ワークフロー削除":{"main":[[{"node":"削除するワークフローループ","type":"main","index":0}]]},"N8Nにあるワークフローループ":{"main":[[],[{"node":"jsonファイル生成","type":"main","index":0}]]},"N8Nにあるワークフローを取得":{"main":[[{"node":"N8Nにあるワークフローをまとめる","type":"main","index":0},{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]},"SHAを取得":{"main":[[{"node":"変更あり","type":"main","index":0}]]},"GitHubアップロード":{"main":[[{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","binaryMode":"separate"},"staticData":{"node:スケジュール":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1de3dd47-db2e-41cc-92f8-ed8c8274148f","activeVersionId":"1de3dd47-db2e-41cc-92f8-ed8c8274148f","triggerCount":1,"shared":[{"updatedAt":"2026-04-01T02:58:58.834Z","createdAt":"2026-04-01T02:58:58.834Z","role":"workflow:owner","workflowId":"NdADDrMiucWdvBCG","projectId":"vOdCI5SLidB5h635"}],"activeVersion":{"updatedAt":"2026-04-01T07:35:01.000Z","createdAt":"2026-04-01T07:34:38.223Z","versionId":"1de3dd47-db2e-41cc-92f8-ed8c8274148f","workflowId":"NdADDrMiucWdvBCG","nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1072,56],"id":"61b0bbf9-5e66-4cac-84f2-78d276c7f070","name":"スケジュール"},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-400,-16],"id":"d5dd1c39-bd11-4d3e-9b29-c9e15783404f","name":"jsonファイル生成"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-176,-16],"id":"14e494ec-a9a5-4649-a208-9f80bb0375d0","name":"base64に変換"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1088,-128],"id":"75814024-1fae-48fc-be75-3c4f6ba72136","name":"手動実行"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edc26b7e-af4a-4751-8c9d-5290b4792314","leftValue":"={{ $json.content.replace(/\\n/g, '') }}","rightValue":"={{ $('base64に変換').item.json.data }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[272,104],"id":"fdb336de-a122-4512-ad58-b43f60e1f210","name":"変更あり"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/kentayamada-dev","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"workflows"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-848,-352],"id":"959ae9eb-1fa2-456b-a2db-3efca81a347d","name":"GitHubにあるワークフローを取得","webhookId":"ea900c92-5caa-4bbc-b613-1b46992d1b15","credentials":{"githubApi":{"id":"CfSYyQB4QcHIEzny","name":"GitHub account"}}},{"parameters":{"jsCode":"const workflowNamesInGitHub = $input.all().map((i) => i.json.name);\n\nreturn [{workflowNamesInGitHub}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,-352],"id":"bcd2ce97-faf4-47ca-acc6-2da3a9e019a1","name":"GitHubにあるワークフローをまとめる"},{"parameters":{"jsCode":"const workflowNamesInN8N = $input.all().map((i) => i.json.name);\n\nreturn [{workflowNamesInN8N}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,-160],"id":"7e0b6132-10e7-4894-88c8-746a841539c4","name":"N8Nにあるワークフローをまとめる"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-400,-256],"id":"4fdfc33b-0b85-4d36-9c52-89178b66f518","name":"マージ"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst githubItem = items.find((i) =>\n  Array.isArray(i.json.workflowNamesInGitHub)\n);\nconst n8nItem = items.find((i) => Array.isArray(i.json.workflowNamesInN8N));\n\nconst githubNames = githubItem?.json.workflowNamesInGitHub ?? [];\nconst n8nNames = n8nItem?.json.workflowNamesInN8N ?? [];\n\nconst normalize = (v) => v.trim().replace(/\\.json$/i, \"\");\n\nconst n8nSet = new Set(n8nNames.map(normalize).filter(Boolean));\n\nconst githubOnlyNames = githubNames.filter((gh) => {\n  const key = normalize(gh);\n  return key && !n8nSet.has(key);\n});\n\nreturn githubOnlyNames.map((name) => ({json: {name}}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,-256],"id":"306dad00-c218-47d7-a335-5451775a6ef9","name":"削除するワークフロー"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[48,-256],"id":"3628c38c-5c65-4072-8e7e-d158a31a87bd","name":"削除するワークフローループ"},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"kentayamada-dev","mode":"list","cachedResultName":"kentayamada-dev","cachedResultUrl":"https://github.com/kentayamada-dev"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"=workflows/{{ $json.name }}","commitMessage":"delete"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[272,-256],"id":"91d09273-295e-4d8b-84a3-1bab11583fa0","name":"ワークフロー削除","webhookId":"f909e605-9d72-44ee-80ea-5200aa653980","credentials":{"githubApi":{"id":"CfSYyQB4QcHIEzny","name":"GitHub account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-624,128],"id":"e847a1c8-9e98-4e84-9ea9-9b8fdcac9c09","name":"N8Nにあるワークフローループ"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-848,8],"id":"03910c8b-42fb-4eb4-b3df-89412d0e9326","name":"N8Nにあるワークフローを取得","credentials":{"n8nApi":{"id":"FUJ8l1ODKyXTjYQA","name":"n8n account"}}},{"parameters":{"url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/workflows/{{ $('N8Nにあるワークフローループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[48,-16],"id":"61e86def-b03e-444b-b155-3fc09fd1fb8e","name":"SHAを取得","credentials":{"httpBearerAuth":{"id":"iKgDqDrKGYqJIoM6","name":"GitHub account"}}},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/kentayamada-dev/n8n/contents/workflows/{{ $('N8Nにあるワークフローループ').item.json.name }}.json","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"update"},{"name":"=content","value":"={{ $('base64に変換').item.json.data }}"},{"name":"sha","value":"={{ $json.sha }}"}]},"options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[496,176],"id":"efe13456-8fbb-4a50-aeac-8a0473568a87","name":"GitHubアップロード","credentials":{"httpBearerAuth":{"id":"iKgDqDrKGYqJIoM6","name":"GitHub account"}}}],"connections":{"スケジュール":{"main":[[{"node":"GitHubにあるワークフローを取得","type":"main","index":0},{"node":"N8Nにあるワークフローを取得","type":"main","index":0}]]},"jsonファイル生成":{"main":[[{"node":"base64に変換","type":"main","index":0}]]},"base64に変換":{"main":[[{"node":"SHAを取得","type":"main","index":0}]]},"手動実行":{"main":[[{"node":"GitHubにあるワークフローを取得","type":"main","index":0},{"node":"N8Nにあるワークフローを取得","type":"main","index":0}]]},"変更あり":{"main":[[{"node":"GitHubアップロード","type":"main","index":0}],[{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]},"GitHubにあるワークフローを取得":{"main":[[{"node":"GitHubにあるワークフローをまとめる","type":"main","index":0}]]},"GitHubにあるワークフローをまとめる":{"main":[[{"node":"マージ","type":"main","index":0}]]},"N8Nにあるワークフローをまとめる":{"main":[[{"node":"マージ","type":"main","index":1}]]},"マージ":{"main":[[{"node":"削除するワークフロー","type":"main","index":0}]]},"削除するワークフロー":{"main":[[{"node":"削除するワークフローループ","type":"main","index":0}]]},"削除するワークフローループ":{"main":[[],[{"node":"ワークフロー削除","type":"main","index":0}]]},"ワークフロー削除":{"main":[[{"node":"削除するワークフローループ","type":"main","index":0}]]},"N8Nにあるワークフローループ":{"main":[[],[{"node":"jsonファイル生成","type":"main","index":0}]]},"N8Nにあるワークフローを取得":{"main":[[{"node":"N8Nにあるワークフローをまとめる","type":"main","index":0},{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]},"SHAを取得":{"main":[[{"node":"変更あり","type":"main","index":0}]]},"GitHubアップロード":{"main":[[{"node":"N8Nにあるワークフローループ","type":"main","index":0}]]}},"authors":"Kenta Yamada","name":"Version 1de3dd47","description":"","autosaved":true},"tags":[]}