workflows/ワークフロー自動設定.json
{"updatedAt":"2026-03-23T05:42:23.834Z","createdAt":"2026-03-20T08:58:59.766Z","id":"ZuHYzFTtZNZKQ0lQ","name":"ワークフロー自動設定","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-624,-72],"id":"3a509789-d387-485c-83f8-a2fb753d0dae","name":"手動実行"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,-72],"id":"fd83dcd5-7f3c-4891-92e0-a679a8933d68","name":"ループ"},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"include":"except","excludeFields":"data.settings.binaryMode","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-144],"id":"95e8ae36-af8d-4663-b07a-6a53747c3230","name":"binaryModeを除外"},{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json.data) }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1168,-72],"id":"07d839f8-8814-456b-b2c4-098d7c03172e","name":"ワークフローを作成","credentials":{"n8nApi":{"id":"yGn5KYHN8LkCDelJ","name":"n8n"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/kentayamada-dev","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"={{ $json.path }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[496,-144],"id":"a0fe0169-41ea-48a7-96c0-6d0639d9d040","name":"ワークフローファイルを取得","webhookId":"9e585869-f99c-4b72-b82f-7ae87b8218ba","credentials":{"githubApi":{"id":"dGF7fWu5KL9PSE96","name":"GitHub"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[720,-144],"id":"c10f412c-a6f7-4c4f-bc2a-130f57490527","name":"JSONデータに変換"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/kentayamada-dev","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/kentayamada-dev/n8n"},"filePath":"workflows"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-400,-72],"id":"52ec35f3-9aac-494e-8b72-6f522a3e40b6","name":"全てのワークフローファイル取得","webhookId":"c4ac5eee-b635-4961-9c23-f8b47aa99de4","credentials":{"githubApi":{"id":"dGF7fWu5KL9PSE96","name":"GitHub"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-176,-72],"id":"75d0262a-78da-4740-afe1-3b2382dac4db","name":"既存のワークフローファイル取得","credentials":{"n8nApi":{"id":"yGn5KYHN8LkCDelJ","name":"n8n"}}},{"parameters":{"jsCode":"const allFiles = $items(\"全てのワークフローファイル取得\");\nconst existingWorkflows = $items(\"既存のワークフローファイル取得\");\n\nconst normalize = (s) => (s ?? \"\").replace(/\\.json$/i, \"\").trim();\n\nconst existingNames = new Set(\n  existingWorkflows.map((w) => normalize(w.json.name)),\n);\n\nconst filtered = allFiles.filter(\n  (f) => !existingNames.has(normalize(f.json.name)),\n);\n\nreturn filtered.map((f) => ({ json: f.json, binary: f.binary }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-72],"id":"5007267b-42b6-4bfa-8813-13b6e0228261","name":"既存ワークフロー除外"}],"connections":{"手動実行":{"main":[[{"node":"全てのワークフローファイル取得","type":"main","index":0}]]},"ループ":{"main":[[],[{"node":"ワークフローファイルを取得","type":"main","index":0}]]},"binaryModeを除外":{"main":[[{"node":"ワークフローを作成","type":"main","index":0}]]},"ワークフローを作成":{"main":[[{"node":"ループ","type":"main","index":0}]]},"ワークフローファイルを取得":{"main":[[{"node":"JSONデータに変換","type":"main","index":0}]]},"JSONデータに変換":{"main":[[{"node":"binaryModeを除外","type":"main","index":0}]]},"全てのワークフローファイル取得":{"main":[[{"node":"既存のワークフローファイル取得","type":"main","index":0}]]},"既存のワークフローファイル取得":{"main":[[{"node":"既存ワークフロー除外","type":"main","index":0}]]},"既存ワークフロー除外":{"main":[[{"node":"ループ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ba62de90-4df0-4064-9f61-72cc140dd7bc","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-20T08:58:59.768Z","createdAt":"2026-03-20T08:58:59.768Z","role":"workflow:owner","workflowId":"ZuHYzFTtZNZKQ0lQ","projectId":"qGoXUbBEvTRGfpDj"}],"activeVersion":null,"tags":[]}