workflows/支出.json
{"updatedAt":"2026-03-23T06:57:56.362Z","createdAt":"2026-03-23T05:34:59.832Z","id":"f2g4hqWG0vnv9IlU","name":"支出","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"line-webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-864,-24],"id":"6024c8f5-f7b5-4f9f-b05a-254994e440ea","name":"LINEメッセージを受け取る","webhookId":"884305de-373e-4e6b-926f-97d0dff34901","notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('LINEメッセージを受け取る').item.json.body.events[0].message.type }}","rightValue":"image","operator":{"type":"string","operation":"equals"},"id":"705a58d8-f005-4bb8-a2ab-f17c35db9242"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e5c2975b-5d4e-48d3-995c-0dcfafee8007","leftValue":"={{ $('LINEメッセージを受け取る').item.json.body.events[0].message.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-192,-40],"id":"8f39b7fe-57f2-4f4a-b5de-f6d1584f0b1d","name":"入力データによって条件分岐"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac","mode":"list","cachedResultName":"支出","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[104,96],"id":"d4fd03a9-04e8-4f72-8474-b4cd02d32d6b","name":"データ","credentials":{"googleApi":{"id":"4sHdiMlvqT1Vb3o8","name":"Google Sheets"}}},{"parameters":{"modelId":{"__rl":true,"value":"qwen3.5:397b","mode":"list","cachedResultName":"qwen3.5:397b"},"messages":{"values":[{"content":"=常にスプレッドシートのデータを参照してください。\n\n{{ $('LINEメッセージを受け取る').item.json.body.events[0].message.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[32,-128],"id":"b90059bd-a4c8-440c-bf17-6feee36497dd","name":"質問","credentials":{"ollamaApi":{"id":"fx6JCIBz8WlCKvup","name":"Ollama"}}},{"parameters":{"url":"=https://api-data.line.me/v2/bot/message/{{ $('LINEメッセージを受け取る').item.json.body.events[0].message.id }}/content","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[96,-320],"id":"4792ade0-c649-4775-9b25-c558b6558e1d","name":"画像取得","credentials":{"httpBearerAuth":{"id":"JfaFdOHrh0VgtzkI","name":"LINE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"777d87b9-513a-4645-a896-39fb7461b0d5","leftValue":"={{\n  (() => {\n    try {\n      const content = $(\"画像分析\").item.json.content;\n      const arr = JSON.parse(content);\n\n      if (!Array.isArray(arr) || arr.length !== 1) return false;\n\n      const o = arr[0];\n      const dt = o?.[\"日時\"];\n      const shop = o?.[\"店名\"];\n      const amount = o?.[\"金額\"];\n\n      return (\n        typeof dt === \"string\" &&\n        dt.trim() !== \"\" &&\n        typeof shop === \"string\" &&\n        shop.trim() !== \"\" &&\n        typeof amount === \"string\" &&\n        /^\\d+$/.test(amount.trim())\n      );\n    } catch (e) {\n      return false;\n    }\n  })()\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[608,-320],"id":"7ff6d6c9-b47f-4aa9-82cb-286b0fbeacba","name":"画像検証"},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"以下の内容で追加しました。\\n\\n日時: {{ $json['日時'] }}\\n店名: {{ $json['店名'] }}\\n金額: {{ $json['金額'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1280,-416],"id":"e9f6bc99-9952-4e65-8732-e3566292b450","name":"登録済みメッセージ","credentials":{"httpBearerAuth":{"id":"JfaFdOHrh0VgtzkI","name":"LINE"}}},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"{{ $json.content.replace(/\\r?\\n/g, '\\\\n') }}\"\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[384,-24],"id":"35bbe16f-2299-4cd2-9b16-a4808f13ca34","name":"回答メッセージ","credentials":{"httpBearerAuth":{"id":"JfaFdOHrh0VgtzkI","name":"LINE"}}},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"データが不正です。\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[832,-224],"id":"02449a07-6412-4730-b2ed-604a0bd4deee","name":"レシート画像ではないメッセージ","credentials":{"httpBearerAuth":{"id":"JfaFdOHrh0VgtzkI","name":"LINE"}}},{"parameters":{"jsCode":"const out = [];\n\nfor (const item of items) {\n  const parsed = JSON.parse(item.json.content);\n\n  if (Array.isArray(parsed)) {\n    out.push(...parsed.map((x) => ({ json: x })));\n  } else {\n    out.push({ json: parsed });\n  }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-416],"id":"0c0e3484-e594-43ec-8f62-b7d1bd0ca498","name":"データ加工","alwaysOutputData":false},{"parameters":{"jsCode":"const crypto = require(\"crypto\");\n\nconst channelSecret = $env.LINE_CHANNEL_SECRET;\nconst headerSignature = $input.first().json.headers[\"x-line-signature\"];\nconst bodyString = JSON.stringify($input.first().json.body);\n\nconst computedSignature = crypto\n  .createHmac(\"sha256\", channelSecret)\n  .update(bodyString, \"utf8\")\n  .digest(\"base64\");\n\nconsole.log(headerSignature)\n\nconst isValid = headerSignature === computedSignature;\n\nreturn [{ json: { valid: isValid } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,-24],"id":"bff884a0-a2ef-4b45-979f-9f97559bb7b1","name":"Webhookの署名を検証"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"63b3995f-ec35-4a64-bad5-8f5fc35bf3d1","leftValue":"={{ $json.valid }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-416,-24],"id":"5786a4d7-61b4-443a-86eb-542c6a33c23e","name":"署名確認が成功"},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"対応していません。\"\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[96,272],"id":"0bd98d33-acce-4c94-a031-1fff66686c96","name":"未対応メッセージ","credentials":{"httpBearerAuth":{"id":"JfaFdOHrh0VgtzkI","name":"LINE"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"qwen3.5:397b","mode":"list","cachedResultName":"qwen3.5:397b"},"text":"Only if the image is a receipt, use OCR to read it and extract these 3 fields:\n\n- Payment date\n- Store name\n- Total amount\n\nReturn the result only in the exact JSON format below (do not add any extra text before or after, and do not use code blocks):\n\n- “日時” must be in the format M/D/YYYY (example: 9/29/2016)\n- “金額” must contain digits only (no currency symbols, commas, decimals, or letters)\n\nOutput format:\n\n[\n {\n   \"日時\": \"{payment date and time}\",\n   \"店名\": \"{store name}\",\n   \"金額\": \"{total amount}\"\n }\n]","options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[384,-320],"id":"62463d3a-c1ea-43f0-9412-6db4bf761690","name":"画像分析","credentials":{"ollamaApi":{"id":"fx6JCIBz8WlCKvup","name":"Ollama"}}},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac","mode":"list","cachedResultName":"支出","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["日時"],"schema":[{"id":"日時","displayName":"日時","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"店名","displayName":"店名","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"金額","displayName":"金額","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1056,-416],"id":"463ec5b7-86c2-4331-9d9e-503b1c145937","name":"データ登録","credentials":{"googleApi":{"id":"4sHdiMlvqT1Vb3o8","name":"Google Sheets"}}}],"connections":{"LINEメッセージを受け取る":{"main":[[{"node":"Webhookの署名を検証","type":"main","index":0}]]},"入力データによって条件分岐":{"main":[[{"node":"画像取得","type":"main","index":0}],[{"node":"質問","type":"main","index":0}],[{"node":"未対応メッセージ","type":"main","index":0}],[]]},"データ":{"ai_tool":[[{"node":"質問","type":"ai_tool","index":0}]]},"質問":{"main":[[{"node":"回答メッセージ","type":"main","index":0}]]},"画像取得":{"main":[[{"node":"画像分析","type":"main","index":0}]]},"画像検証":{"main":[[{"node":"データ加工","type":"main","index":0}],[{"node":"レシート画像ではないメッセージ","type":"main","index":0}]]},"登録済みメッセージ":{"main":[[]]},"データ加工":{"main":[[{"node":"データ登録","type":"main","index":0}]]},"Webhookの署名を検証":{"main":[[{"node":"署名確認が成功","type":"main","index":0}]]},"署名確認が成功":{"main":[[{"node":"入力データによって条件分岐","type":"main","index":0}]]},"画像分析":{"main":[[{"node":"画像検証","type":"main","index":0}]]},"データ登録":{"main":[[{"node":"登録済みメッセージ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"345058f9-3995-44de-b687-1067ae7da96c","activeVersionId":"345058f9-3995-44de-b687-1067ae7da96c","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T05:34:59.834Z","createdAt":"2026-03-23T05:34:59.834Z","role":"workflow:owner","workflowId":"f2g4hqWG0vnv9IlU","projectId":"qGoXUbBEvTRGfpDj"}],"activeVersion":{"updatedAt":"2026-03-23T06:57:57.000Z","createdAt":"2026-03-23T06:24:16.205Z","versionId":"345058f9-3995-44de-b687-1067ae7da96c","workflowId":"f2g4hqWG0vnv9IlU","nodes":[{"parameters":{"httpMethod":"POST","path":"line-webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-864,-24],"id":"6024c8f5-f7b5-4f9f-b05a-254994e440ea","name":"LINEメッセージを受け取る","webhookId":"884305de-373e-4e6b-926f-97d0dff34901","notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('LINEメッセージを受け取る').item.json.body.events[0].message.type }}","rightValue":"image","operator":{"type":"string","operation":"equals"},"id":"705a58d8-f005-4bb8-a2ab-f17c35db9242"}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e5c2975b-5d4e-48d3-995c-0dcfafee8007","leftValue":"={{ $('LINEメッセージを受け取る').item.json.body.events[0].message.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-192,-40],"id":"8f39b7fe-57f2-4f4a-b5de-f6d1584f0b1d","name":"入力データによって条件分岐"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac","mode":"list","cachedResultName":"支出","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[104,96],"id":"d4fd03a9-04e8-4f72-8474-b4cd02d32d6b","name":"データ","credentials":{"googleApi":{"id":"4sHdiMlvqT1Vb3o8","name":"Google Sheets"}}},{"parameters":{"modelId":{"__rl":true,"value":"qwen3.5:397b","mode":"list","cachedResultName":"qwen3.5:397b"},"messages":{"values":[{"content":"=常にスプレッドシートのデータを参照してください。\n\n{{ $('LINEメッセージを受け取る').item.json.body.events[0].message.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[32,-128],"id":"b90059bd-a4c8-440c-bf17-6feee36497dd","name":"質問","credentials":{"ollamaApi":{"id":"fx6JCIBz8WlCKvup","name":"Ollama"}}},{"parameters":{"url":"=https://api-data.line.me/v2/bot/message/{{ $('LINEメッセージを受け取る').item.json.body.events[0].message.id }}/content","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[96,-320],"id":"4792ade0-c649-4775-9b25-c558b6558e1d","name":"画像取得","credentials":{"httpBearerAuth":{"id":"JfaFdOHrh0VgtzkI","name":"LINE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"777d87b9-513a-4645-a896-39fb7461b0d5","leftValue":"={{\n  (() => {\n    try {\n      const content = $(\"画像分析\").item.json.content;\n      const arr = JSON.parse(content);\n\n      if (!Array.isArray(arr) || arr.length !== 1) return false;\n\n      const o = arr[0];\n      const dt = o?.[\"日時\"];\n      const shop = o?.[\"店名\"];\n      const amount = o?.[\"金額\"];\n\n      return (\n        typeof dt === \"string\" &&\n        dt.trim() !== \"\" &&\n        typeof shop === \"string\" &&\n        shop.trim() !== \"\" &&\n        typeof amount === \"string\" &&\n        /^\\d+$/.test(amount.trim())\n      );\n    } catch (e) {\n      return false;\n    }\n  })()\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[608,-320],"id":"7ff6d6c9-b47f-4aa9-82cb-286b0fbeacba","name":"画像検証"},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"以下の内容で追加しました。\\n\\n日時: {{ $json['日時'] }}\\n店名: {{ $json['店名'] }}\\n金額: {{ $json['金額'] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1280,-416],"id":"e9f6bc99-9952-4e65-8732-e3566292b450","name":"登録済みメッセージ","credentials":{"httpBearerAuth":{"id":"JfaFdOHrh0VgtzkI","name":"LINE"}}},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"{{ $json.content.replace(/\\r?\\n/g, '\\\\n') }}\"\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[384,-24],"id":"35bbe16f-2299-4cd2-9b16-a4808f13ca34","name":"回答メッセージ","credentials":{"httpBearerAuth":{"id":"JfaFdOHrh0VgtzkI","name":"LINE"}}},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"データが不正です。\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[832,-224],"id":"02449a07-6412-4730-b2ed-604a0bd4deee","name":"レシート画像ではないメッセージ","credentials":{"httpBearerAuth":{"id":"JfaFdOHrh0VgtzkI","name":"LINE"}}},{"parameters":{"jsCode":"const out = [];\n\nfor (const item of items) {\n  const parsed = JSON.parse(item.json.content);\n\n  if (Array.isArray(parsed)) {\n    out.push(...parsed.map((x) => ({ json: x })));\n  } else {\n    out.push({ json: parsed });\n  }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-416],"id":"0c0e3484-e594-43ec-8f62-b7d1bd0ca498","name":"データ加工","alwaysOutputData":false},{"parameters":{"jsCode":"const crypto = require(\"crypto\");\n\nconst channelSecret = $env.LINE_CHANNEL_SECRET;\nconst headerSignature = $input.first().json.headers[\"x-line-signature\"];\nconst bodyString = JSON.stringify($input.first().json.body);\n\nconst computedSignature = crypto\n  .createHmac(\"sha256\", channelSecret)\n  .update(bodyString, \"utf8\")\n  .digest(\"base64\");\n\nconsole.log(headerSignature)\n\nconst isValid = headerSignature === computedSignature;\n\nreturn [{ json: { valid: isValid } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,-24],"id":"bff884a0-a2ef-4b45-979f-9f97559bb7b1","name":"Webhookの署名を検証"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"63b3995f-ec35-4a64-bad5-8f5fc35bf3d1","leftValue":"={{ $json.valid }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-416,-24],"id":"5786a4d7-61b4-443a-86eb-542c6a33c23e","name":"署名確認が成功"},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"replyToken\": \"{{ $('LINEメッセージを受け取る').item.json.body.events[0].replyToken }}\",\n    \"messages\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"対応していません。\"\n      }\n    ]\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[96,272],"id":"0bd98d33-acce-4c94-a031-1fff66686c96","name":"未対応メッセージ","credentials":{"httpBearerAuth":{"id":"JfaFdOHrh0VgtzkI","name":"LINE"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"qwen3.5:397b","mode":"list","cachedResultName":"qwen3.5:397b"},"text":"Only if the image is a receipt, use OCR to read it and extract these 3 fields:\n\n- Payment date\n- Store name\n- Total amount\n\nReturn the result only in the exact JSON format below (do not add any extra text before or after, and do not use code blocks):\n\n- “日時” must be in the format M/D/YYYY (example: 9/29/2016)\n- “金額” must contain digits only (no currency symbols, commas, decimals, or letters)\n\nOutput format:\n\n[\n {\n   \"日時\": \"{payment date and time}\",\n   \"店名\": \"{store name}\",\n   \"金額\": \"{total amount}\"\n }\n]","options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[384,-320],"id":"62463d3a-c1ea-43f0-9412-6db4bf761690","name":"画像分析","credentials":{"ollamaApi":{"id":"fx6JCIBz8WlCKvup","name":"Ollama"}}},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac","mode":"list","cachedResultName":"支出","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19htYow4SDwMSrQCZE2ZGfwfq9YkBFpsUJiyUinuWYac/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["日時"],"schema":[{"id":"日時","displayName":"日時","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"店名","displayName":"店名","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"金額","displayName":"金額","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1056,-416],"id":"463ec5b7-86c2-4331-9d9e-503b1c145937","name":"データ登録","credentials":{"googleApi":{"id":"4sHdiMlvqT1Vb3o8","name":"Google Sheets"}}}],"connections":{"LINEメッセージを受け取る":{"main":[[{"node":"Webhookの署名を検証","type":"main","index":0}]]},"入力データによって条件分岐":{"main":[[{"node":"画像取得","type":"main","index":0}],[{"node":"質問","type":"main","index":0}],[{"node":"未対応メッセージ","type":"main","index":0}],[]]},"データ":{"ai_tool":[[{"node":"質問","type":"ai_tool","index":0}]]},"質問":{"main":[[{"node":"回答メッセージ","type":"main","index":0}]]},"画像取得":{"main":[[{"node":"画像分析","type":"main","index":0}]]},"画像検証":{"main":[[{"node":"データ加工","type":"main","index":0}],[{"node":"レシート画像ではないメッセージ","type":"main","index":0}]]},"登録済みメッセージ":{"main":[[]]},"データ加工":{"main":[[{"node":"データ登録","type":"main","index":0}]]},"Webhookの署名を検証":{"main":[[{"node":"署名確認が成功","type":"main","index":0}]]},"署名確認が成功":{"main":[[{"node":"入力データによって条件分岐","type":"main","index":0}]]},"画像分析":{"main":[[{"node":"画像検証","type":"main","index":0}]]},"データ登録":{"main":[[{"node":"登録済みメッセージ","type":"main","index":0}]]}},"authors":"Kenta Yamada","name":"Version 345058f9","description":"","autosaved":true},"tags":[]}